@font-face {
	font-family: Suisse
	src url('../fonts/Suisse/suisseintl-book.woff2') format('woff2'),
			url('../fonts/Suisse/suisseintl-book.woff') format('woff')
	font-weight normal
	font-style normal
}

@font-face {
	font-family 'William Display'
	src url('../fonts/WilliamDisplay/williamdisplay.woff2') format('woff2'),
			url('../fonts/WilliamDisplay/williamdisplay.woff') format('woff')
	font-weight normal
	font-style normal
}

@font-face {
	font-family William
	src url('../fonts/William/williamregular.woff2') format('woff2'),
			url('../fonts/William/williamregular.woff') format('woff')
	font-weight normal
	font-style normal
}