.h1 {
	margin 0
	font-size 120px 
}

.h2 {
	margin 0
	font-family William 
	font-size 45px 
	line-height 1.1 
}

.icon-social {
	&:hover {
		.icon-social__circle {
			fill white
		}
		
		.icon-social__path {
			fill $color-dark
		}
	}
}