.h1 {
	margin 0
	font-family 'William Display' 
	font-size 40px
	line-height 0.83
	
	@media (min-width $sm) {
		font-size 50px
	}
	
	@media (min-width $md) {
		font-size 60px 
	}
	
	@media (min-width $lg) {
		font-size 80px
	}
	
	@media (min-width $mlg) {
		font-size 120px 
	}
	
	@media (min-width $mlg) {
		font-size 150px 
	}
}

.h2 {
	margin 0
	font-family William 
	font-size 20px
	line-height 1.1	
	
	@media (min-width $sm) {
		font-size 25px
	}
	
	@media (min-width $md) {
		font-size 40px 
	}
	
	@media (min-width $mlg) {
		font-size 45px 
	}
	
	@media (min-width $xlg) {
		font-size 60px 
	}
}

.icon-social-dark {
	border 2px solid $color-dark
	border-radius 50%
	
	&__path {
		fill $color-dark
	}
	
	&:hover {
		background $color-dark
		
		.icon-social-dark__path {
			fill white
		}
	}
}

.icon-social {
	border 2px solid white
	border-radius 50%
	
	&:hover {
		background white
		
		.icon-social__path {
			fill $color-dark
		}
	}
}

.list-line {
	list-style-type none
	padding 0
	margin 0
	
	&__item {
		padding 15px 15px 15px 0
		border-top 2px solid white
		
		@media (min-width $lg) {
			padding 15px 30% 15px 0
		}
		
		&:last-child {
			border-bottom 2px solid white 
		}
	}
}