.section {
	margin auto
	
	&_full {
		min-height 100vh
		display grid
		align-items center
	}
	
	&__container {
		padding 0 10px 
		max-width 1920px
		margin auto
		
		@media (min-width $md) {
			padding 0 30px 
		}
	}
}

.section-header {
	position absolute
	z-index 10
	top 0
	left 0
	width 100%
	padding 5px 0
	
	@media (min-width $sm) {
		padding 20px 0
	}
	
	
	
	&_inside {
		position fixed
		background-color #2f3440
		
	}
	
	&__container {
		display flex
		align-items center
		justify-content flex-start
	}
	
	&__column {
		&_logo {
			margin-right 40px
		}
		
		&_menu {
			margin-left auto 
			stroke white
			
			@media (min-width $sm) {
				display none
			}
		}
		
		&_nav {
			display none
			
			@media (min-width $sm) {
				display block
				flex auto
				margin-right auto 
			}
		}
		
		&_social {
			display none
			
			@media (min-width $sm) {
				display block
			}
			
			@media (min-width $md) {
				display none
			}
		}
		
		&_search {
			display none
			
			@media (min-width $sm) {
				display block
			}
		}
		
		&_lang {
			display none
			
			@media (min-width $sm) {
				display block
				margin-left 15px
			}
		}
	}
	
	&__search {
		width 50px
		margin-left 10px 
		
		@media (min-width $sm) {
			margin-left 15px
		}
		
		@media (min-width $lg) {
			width 150px
			margin-left 60px 
			flex auto
		}
		
		@media (min-width $xlg) {
			width 350px
		}
	}
}

.section-news {
	padding 40px 0 20px
	background #edecea
	
	&__container {
		@media (min-width $sm) {
			display flex
		}
	}
	
	&__column {
		@media (min-width $sm) {
			width 50%
			margin-right 20px 
		}
		
		&:last-child  {
			margin-right 0
		}
	}
	
	&__card {
		margin-bottom 20px 
		
		@media (min-width $md) {
			margin-bottom 40px 
		}

		@media (min-width $xlg) {
			margin-bottom 65px 
		}
	}
	
	&__button {
		margin-bottom 30px 
		
		@media (min-width $lg) {
			margin-bottom 45px
		}
	}
}

@keyframes bg-scale {
	from {
		transform scale(1)
		// width 100%
		// height 100%
	}
	
	to {
		transform scale(1.5)
		// width 120%
		// height 120%
	}
}

.section-main {
	display flex
	flex-direction column
	padding 150px 0 55px
	color white
	text-align center
	
	&-- {
		transform translate3d(0%,0,0)
		position relative
		overflow hidden
	}
	
	&__backdrop {
		position absolute
		width 100%
		height 100%
		left 0
		bottom 0 
		z-index -1
		
	}
	
	&__bg {	
		// position absolute	
		width 100%
		height 100%
		background url(../images/xs-bg-main.jpg) center / cover no-repeat
		
		@media (min-width $lg) {
			background url(../images/bg-main.jpg) center / cover no-repeat
		}
		
		&.animation {
			animation bg-scale 15s forwards
		}
	}
	
	
	@media (min-width $sm) {
		min-height 100vh 
		padding 100px 0 55px
		text-align left
	}
	
	@media (min-width $xlg) {
		padding 150px 0 55px
	}
	
	&__container {		
		@media (min-width $sm) {
			flex auto
			display flex
			flex-direction column
			justify-content space-between
			height 100%
		}
	}
	
	&__title {
		margin-bottom 25px
		font-weight normal 
		
		@media (min-width $md) {
			margin-bottom 45px
		}
	}
	
	&__slogan {
		margin-bottom 50px
		
		@media (min-width $md) {
			margin-bottom 125px
		}
	}
	
	&__foo {
		@media (min-width $md) {
			display flex
		}
	}
	
	&__buttons {
		margin-bottom 15px 
	}
	
	&__button {
		margin-bottom 5px 
		margin-right 15px 
	}
	
	&__social {
		display none
		
		
		@media (min-width $md) {
			display block
			margin-left auto
		}
	}
}

.section-invest-map {
	padding 40px 0 20px
	background #929292 url(../images/bg-invest-map.jpg) center  center / cover
	color white
	
	@media (min-width $sm) {
		padding 60px 0 25px
	}
	
	&__container {
		@media (min-width $sm) {
			display -ms-grid
			display grid
			-ms-grid-columns: 40% 1fr;
			grid-template-columns 40% 1fr
			grid-gap 20px
			max-width 100%
			overflow hidden
			
			@media (min-width $xlg) {
				grid-gap 75px
			}
		}
	}
	
	&__column {
		&_desc {
			@media (min-width $sm) {
				// width 50%
			 -ms-grid-row: 1;
			-ms-grid-column: 1;
				flex none
				padding-top 5px 
				// margin-right 20px	
			}
			
			@media (min-width $md) {
				// width 40%
				padding-top 0
			}
			
			@media (min-width $xlg) {
				// margin-right 75px 
			}
		}
		
		&_map {
			-ms-grid-column: 2
			// flex auto
			// min-width 0
			// max-width 55%			
		}
	}
	
	&__title {
		margin-bottom 40px
		
		@media (min-width $lg) {
			margin-bottom 90px
		}
	}
	
	&__desc {
		margin-bottom 40px
		font-size 15px
		
		@media (min-width $sm) { 
			font-size 18px
		}
		
		@media (min-width $lg) {
			font-size 22px
		}
		
		@media (min-width $xlg) {
			font-size 35px 
		}
	}
	
	&__tabs {
		margin-left 20px
		margin-bottom 50px 
		
		@media (min-width $lg) {
			margin-bottom 10px 
		}
		
		@media (min-width $xlg) {
			margin-bottom 50px 
		}
	}
	
	&__map {
		min-width 0
		width 100% 
		height auto
	}
}

.section-wallpaper {
	transform translate3d(0%,0,0)
	overflow hidden
	
	&__bg {
		display block
		width 100%
		height 560px
		object-fit cover
		
		&.animation {
			animation bg-scale 15s forwards
		}
	}
}

.section-article {
	position relative
	margin-top -110px
	overflow hidden
	
	&__header {
		min-height 110px
		margin 0 -15px
		padding 25px 15px 65px
		
		@media (min-width $md) {
			margin 0 -100px 0
			padding 65px 85px
		}
	}
	
	&__top {
		margin-bottom 20px
		
		@media (min-width $sm) {
			margin-bottom 50px	
		}
		
		@media (min-width $md) {
			display flex
			align-items center
		}
	}
	
	&__buttons {
		margin-bottom 15px 
		
		@media (min-width $sm) {
			margin-bottom 35px 
		}
		
		@media (min-width $md) {
			margin-bottom 0
		}
	}
	
	&__button {
		margin-bottom 10px 
		
		@media (min-width 480px) {
			margin-right 20px
		}
	}

	&__social {
		margin-left auto
	}
	
	&__date {
		display block
		margin-bottom 30px
		font-family Roboto, sans-serif
		font-size 20px
		color $color-pearly-beige
	}
	
	&__title {
		margin 0 0 25px 
		color $color-granite
		font-family 'William Display' 
		font-size 25px
		
		@media (min-width $sm) {
			font-size 30px
		}
		
		@media (min-width $md) {
			font-size 40px 
			max-width 80%
			margin 0 0 55px 
		}
		
		@media (min-width $lg) {
			font-size 50px
		}
		
		@media (min-width $mlg) {
			font-size 60px 
		}
		
		@media (min-width $xlg) {
			font-size 80px 
		}
	}
	
	&__pr {
		margin-top -65px
		margin-bottom 15px 
		
		@media (min-width $sm) {
			margin-bottom 65px 
		}
	}
	
	&__frame {
		padding 55px 0
		margin-bottom 55px 
		border-top 1px solid $color-forest-wolf
		border-bottom 1px solid $color-forest-wolf 
	}
	
	&__download {
		
	}
	
	&__h4 {
		margin-bottom 20px
	}
	
	&__map {
		margin-bottom 60px 
	}
}

.article-gallery-slider {
	margin-bottom 60px
	
	&__header {
		display flex
		align-items center
		margin-bottom 25px
	}
	
	&__title {
		margin-right auto 
	}
	
	&__nav {
		margin-left 20px 
	}
}

.article-edge {
	&__title {
		margin-bottom 25px 
		
		@media (min-width $sm) {
			margin-bottom 50px 
		}
	}
	
	&__body {
		font-size 0
		
		@supports( flex-wrap wrap) {
			display flex
			flex-wrap wrap
		}
	}
	&__card {
		display inline-block
		width 50%
		padding-right 20px 
		margin-bottom 25px 
		
		@media (min-width 600px) {
			width 33.33% 
		}
		
		@media (min-width $sm) {
			
			padding-right 40px 
			margin-bottom 65px 
		}
	}
}

.article-gov {
	padding 35px
	color white
	background-size cover
	background-position center 
	
	@media (min-width $sm) {
		padding 75px 60px
	}
	
	&__content {
		@media (min-width 600px) {
			max-width 60%
		}
		
		@media (min-width $sm) {
			max-width 40%
		}
	}
	 
	&__position {
		font-size 14px
	}
	
	&__name {
		margin-bottom 25px 
		font-size 22px 
		
		@media (min-width $sm) {
			margin-bottom 80px 
		}
	}
	
	&__desc {
		margin-bottom 40px 
		font-size 18px 
	}
}

.article-author-md {
	padding 20px 0
	text-align center
	
	@media (min-width $md) {
		text-align right
		padding 0 50px 0 0 
	}
	
	&__pr {
		margin-bottom 15px
	}
	
	&__title {
		margin-bottom 10px 
	}
	
	&__date {
		font-family Roboto, sans-serif 
		font-size 16px 
	}
}

.article-author-sm {
	text-align right
	padding 20px 
	
	@media (min-width $md ) {
		padding 0 30px 0 0 
	}
	
	
	&__pr {
		margin-bottom 15px
	}
	
	&__title {
		margin-bottom 10px 
	}
	
	&__date {
		font-family Roboto, sans-serif 
		font-size 16px 
	}
}

.article-foo {
	
	border-top 1px solid $color-forest-wolf
	border-bottom 1px solid $color-forest-wolf
	padding 60px 0
	
	@media (min-width $lg) {
		font-size 0
		
		@supports(flex-wrap wrap) {
			display flex
			align-items center
			justify-content space-between
			flex-wrap wrap
		}
	}
}

.article-arhive {
	padding 40px 0 0
	
	@media (min-width $sm) {
		padding 75px 0 0
	}
	
	&__button {
		margin-bottom 45px 
	}
	
	&__cards {
		font-size 0
		
		@supports(flex-wrap wrap) {
			display flex
			flex-wrap wrap
		}
	}
	
	&__card {
		display inline-block
		margin-bottom 30px 
		
		@media (min-width $sm) {
			width 50%
			margin-bottom 65px 
			padding-right 100px 
		}
	}
}

.article-author-lg {
	display flex
	flex none
	align-items center
	text-align left
	padding-right 30px
	
	&__pr {
		margin-right 20px 
	}
	
	&__title {
		margin-bottom 10px 
	}
	
	&__date {
		font-family Roboto, sans-serif 
		font-size 16px 
	}
}

.article-success {
	color white
	background-size cover
	background-position right center
	
	@media (min-width 768px) {
		min-height 340px 
	}
	
	&__content {
		padding 20px 
		
		@media (min-width $sm) {
			padding 90px 60px 40px
			max-width 75%
		}
	}
	 
	
	&__title {
		margin-bottom 25px
		font-size 20px
		
		@media (min-width $sm) {
			margin-bottom 55px 
			font-size 30px 
		}
	}
	
	&__button {
		width 175px 
		text-align center
	}
}

.article-form {
	background $color-granite
	color white
	padding 20px 20px 20px
	
	@media (min-width $lg) {
		padding 50px 50px 20px
	}
	
	&__title {
		margin-bottom 15px 
		font-family Roboto, sans-serif
		
		font-size 20px 
		
		@media (min-width $sm) {
			margin-bottom 35px 
			font-size 30px 
		}
	}
	
	&__body {
		@media (min-width $sm) {
			display flex
		}
	}
	
	&__column {
		@media (min-width $sm) {
			width 50%
		}
		
		&:first-child {
			@media (min-width $sm) {
				padding-right 10px 
			}
			
			@media (min-width $lg) {
				padding-right 35px 
			}
		}
		
		&:last-child {
			@media (min-width $sm) {
				padding-left 10px 
			}
			
			@media (min-width $lg) {
				padding-left 35px 
			}
		}
	}
}

.article-history-success {
	display flex
	flex-direction column
	align-items stretch
	
	@media (min-width $lg) {
		flex-direction row
	}
	
	&__content {
		padding 20px 5px
		background $color-granite
		color white
		
		@media (min-width 480px) {
			padding 20px
		}
		
		@media (min-width 600px) {
			padding 50px
		}
		
		@media (min-width $lg) {
			min-height 540px
			width 50%
		}
	}
	
	&__bg {
		display none
		
		@media (min-width $lg) {
			display block
			flex auto
			background-size cover
		}
	}
	
	&__header {
		text-align center
		margin-bottom 30px 
		
		@media (min-width 480px) {
			display flex
			align-items center
			text-align left
		}
	}
	
	&__pr {
		height auto
		
		width 100px
		
		@media (min-width 480px) {
			margin-right 20px
		}
		
		@media (min-width 1360px) {
			width 180px			
		}
	}
	
	
	&__title {
		font-family Roboto,  sans-serif 
		font-size 30px 
		margin-bottom 10px
	}
	
	&__subtitle {
		font-family William 
		font-size 18px 
	}
	
	&__text {
		margin-bottom 35px 
		font-size 18px
		line-height 30px 
	}
}

.download {
	&__title {}
	
	&__grid {
		font-size 0
		
		@supports( flex-wrap wrap) {
			display flex
			flex-wrap wrap
		}
	}
	
	&__card {
		display inline-block
		width 100%
		padding-right 25px 
		margin-bottom 25px 
		
		@media (min-width $sm) {
			width 50%
			padding-right 50px 
			margin-bottom 50px 
		}
	}
}

.card-download {
	display flex
	align-items center
	text-decoration none
	
	&:hover &__title {
		text-decoration underline
	}
	
	&__icon {
		flex none
		margin-right 15px 
	}
	
	&__desc {
		min-width 0
	}
	
	&__title {
		margin-bottom 5px
		font-family William 
		font-size 16px 
		color $color-pearly-beige
		
		@media (min-width 480px) {
			font-size 18px 
		}
		
		@media (min-width $sm) {
			font-size 22px 
		}
	}
	
	&__size {
		padding-left 12px
		font-family Roboto, sans-serif 
		font-size 12px 
		color $color-dark
		
		@media (min-width $sm) {
			font-size 16px 
		}
	}
}

.inner-article {
	max-width 100%
	
	@media (min-width $md) {
		display -ms-grid
		display grid
		width 100%
		min-width 0
		-ms-grid-columns 300px 1fr
		grid-template-columns 300px 1fr
		
	}
	
	&__column {
		// transform: translate3d(0px, 0px, 0px);
		min-width 0
		max-width 100%
		
		
		&_right {
			// flex auto
			-ms-grid-column 2
		}
		
		&_left {
			@media (min-width $md) {
				width 300px
				flex none
				-ms-grid-column 1
			}
		}
	}
	
}

.article-slider {
	position relative
	padding-top 40px 
	
	&__desc {
		padding 15px
		
		@media (min-width 600px) {
			padding 30px 135px 30px 35px
		}
	}
	
	&__title {
		margin-bottom 15px
		font-size 22px
		color $color-granite
	}
	
	&__date {
		display block
		color $color-pearly-beige
	}
	
	&__nav {
		position absolute
		top 10px
		right 0
		z-index 10 
		display flex
		align-items center
		justify-content center
		color $color-pearly-beige
		font-size 14px
		
		@media (min-width 600px) {
			top auto
			bottom 0
			width 135px
			height 135px
		}
	}
	
	&__pagination {
		margin-right 14px
		width auto !important
	}
	
	&__prev,
	&__next {
		background none
		border none
		color $color-pearly-beige
		
		&:hover {
			color $color-granite
		}
		
		&.swiper-button-disabled {
			opacity 0.5
			
			&:hover {
				color $color-pearly-beige
			}
		}
	}
	
	&__icon {
		display block
		stroke currentColor
		cursor pointer
	}
}

.section-foo {
	padding 15px 
	background-color $color-forest-wolf
	
	
	&__container {
		display flex
		align-items center
		flex-direction column
		text-align center
		
		@media (min-width 600px) {
			flex-direction row
			text-align left
		}
	}
	
	&__column {
		padding 10px
		min-width 0
		text-align center
		
		@media (min-width 600px) {
			padding 0
			text-align left
		}
		
		&_logo {
			@media (min-width 600px) {
				margin-right 30px	
			}
		}
		
		&_copy {
			@media (min-width 600px) {
				margin-right auto
			}
		}
		
		&_social {
			@media (min-width 600px) {
				margin-left 30px
			}
		}
	}
	
	&__copy {
		color #404759
		font-family Roboto, sans-serif
		font-size 15px
		
		@media (min-width 600px) {
			font-size 12px
		}
	}
}