@font-face {
  font-family: Suisse;
  src: url("../fonts/Suisse/suisseintl-book.woff2") format('woff2'), url("../fonts/Suisse/suisseintl-book.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'William Display';
  src: url("../fonts/WilliamDisplay/williamdisplay.woff2") format('woff2'), url("../fonts/WilliamDisplay/williamdisplay.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: William;
  src: url("../fonts/William/williamregular.woff2") format('woff2'), url("../fonts/William/williamregular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
.h1 {
  margin: 0;
  font-family: 'William Display';
  font-size: 40px;
  line-height: 0.83;
}
@media (min-width: 768px) {
  .h1 {
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  .h1 {
    font-size: 60px;
  }
}
@media (min-width: 1200px) {
  .h1 {
    font-size: 80px;
  }
}
@media (min-width: 1300px) {
  .h1 {
    font-size: 120px;
  }
}
@media (min-width: 1300px) {
  .h1 {
    font-size: 150px;
  }
}
.h2 {
  margin: 0;
  font-family: William;
  font-size: 20px;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .h2 {
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .h2 {
    font-size: 40px;
  }
}
@media (min-width: 1300px) {
  .h2 {
    font-size: 45px;
  }
}
@media (min-width: 1900px) {
  .h2 {
    font-size: 60px;
  }
}
.icon-social {
  border: 2px solid #fff;
  border-radius: 50%;
}
.icon-social:hover {
  background: #fff;
}
.icon-social:hover .icon-social__path {
  fill: #635c4b;
}
.list-line {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.list-line__item {
  padding: 15px 15px 15px 0;
  border-top: 2px solid #fff;
}
@media (min-width: 1200px) {
  .list-line__item {
    padding: 15px 30% 15px 0;
  }
}
.list-line__item:last-child {
  border-bottom: 2px solid #fff;
}
.button {
  display: inline-block;
  font-family: Suisse;
  border: none;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button_size_sm {
  padding: 15px 20px 13px;
  font-size: 16px;
  line-height: 1.2;
  border-radius: 30px;
}
@media (min-width: 768px) {
  .button_size_sm {
    font-size: 20px;
  }
}
@media (min-width: 1900px) {
  .button_size_sm {
    padding: 20px 30px 18px;
    border-radius: 45px;
    font-size: 25px;
  }
}
.button_outline {
  border: 2px solid;
}
.button_theme_outline-white {
  color: #fff;
  border-color: #fff;
}
.button_theme_outline-white:hover {
  background: #fff;
  color: #635c4b;
}
.button_theme_outline-dark {
  color: #635c4b;
  border-color: #635c4b;
}
.button_theme_outline-dark:hover {
  color: #fff;
  background: #635c4b;
}
.button-with-icon {
  padding: 0;
  background: transparent;
  border: none;
}
.button-with-icon__svg {
  stroke: currentColor;
}
.ui-search-top {
  position: relative;
  color: #fff;
  border-radius: 25px;
  border: 2px solid #fff;
}
.ui-search-top__field {
  visible: hidden;
  width: 100%;
  height: 45px;
  padding: 0 25px;
  border: none;
  background: transparent;
  text-align: right;
  color: #fff;
  font-family: Suisse;
  font-size: 15px;
}
.ui-search-top__field::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
.ui-search-top__field:-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.ui-search-top__field::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.ui-search-top__field:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
.ui-search-top__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: 10px;
  width: 26px;
  height: 26px;
  color: #fff;
}
.ui-search-top__button:hover {
  color: #ccc;
}
.ui-lang-switcher {
  position: relative;
  border: 2px solid #fff;
  color: #fff;
  font-family: Suisse;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.ui-lang-switcher__current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 45px;
  padding: 0 25px;
}
.ui-lang-switcher__corner {
  margin-left: 10px;
}
.ui-lang-switcher__list {
  padding-top: 45px;
  top: -2px;
  left: -2px;
  right: -2px;
  border-radius: 25px;
  border: 2px solid;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}
.ui-lang-switcher__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 45px;
  padding: 0 25px;
  border-radius: 25px;
}
.ui-lang-switcher__item:hover {
  background: #fff;
  color: #000;
}
.ui-lang-switcher__item_current {
  display: none;
}
.nav-tabs__list {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: 2px solid #fff;
  border-radius: 30px;
  overflow: hidden;
}
@media (min-width: 1900px) {
  .nav-tabs__list {
    border-radius: 50px;
  }
}
.nav-tabs__item {
  padding: 10px;
  border-right: 2px solid #fff;
}
@media (min-width: 1900px) {
  .nav-tabs__item {
    padding: 25px;
  }
}
.nav-tabs__item_active,
.nav-tabs__item:hover {
  background: rgba(255,255,255,0.533);
}
.nav-tabs__item:first-child {
  padding-left: 20px;
}
@media (min-width: 1900px) {
  .nav-tabs__item:first-child {
    padding-left: 40px;
  }
}
.nav-tabs__item:last-child {
  border-right: none;
  padding-right: 20px;
}
@media (min-width: 1900px) {
  .nav-tabs__item:last-child {
    padding-right: 40px;
  }
}
.nav-tabs__link {
  color: inherit;
  text-decoration: none;
}
.menu {
  display: block;
}
.menu__bar {
  stroke: #fff;
  stroke-width: 5;
  stroke-linecap: round;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transition: opacity, 0.3s -webkit-transform;
  transition: opacity, 0.3s -webkit-transform;
  -o-transition: 0.3s transform, opacity;
  transition: 0.3s transform, opacity;
  transition: 0.3s transform, opacity, 0.3s -webkit-transform;
  fill: #fff;
}
.menu_cross .menu__bar {
  opacity: 0;
}
.menu_cross .menu__bar_cross {
  opacity: 1;
}
.menu_cross .menu__bar_cross:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu_cross .menu__bar_cross:nth-of-type(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.hidden {
  display: none !important;
}
.page {
  padding: 0;
  margin: 0;
  font-family: Suisse;
}
.section {
  max-width: 1920px;
  margin: auto;
}
.section__container {
  padding: 0 10px;
}
@media (min-width: 992px) {
  .section__container {
    padding: 0 30px;
  }
}
.section-header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
}
.section-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.section-header__column_menu {
  margin-right: auto;
  stroke: #fff;
}
@media (min-width: 992px) {
  .section-header__column_menu {
    display: none;
  }
}
.section-header__column_nav {
  display: none;
}
@media (min-width: 992px) {
  .section-header__column_nav {
    display: block;
    margin-right: auto;
  }
}
.section-header__column_social {
  display: none;
}
@media (min-width: 480px) {
  .section-header__column_social {
    display: block;
  }
}
@media (min-width: 992px) {
  .section-header__column_social {
    display: none;
  }
}
.section-header__column_lang {
  display: none;
}
@media (min-width: 768px) {
  .section-header__column_lang {
    display: block;
    margin-left: 15px;
  }
}
.section-header__search {
  width: 50px;
  margin-left: 10px;
}
@media (min-width: 768px) {
  .section-header__search {
    margin-left: 15px;
  }
}
@media (min-width: 1200px) {
  .section-header__search {
    width: 150px;
    margin-left: 60px;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
  }
}
@media (min-width: 1900px) {
  .section-header__search {
    width: 350px;
  }
}
.section-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 150px 0 55px;
  background: url("../images/bg-main.jpg") center center/cover;
  color: #fff;
  text-align: center;
}
@media (min-width: 768px) {
  .section-main {
    min-height: 100vh;
    padding: 100px 0 55px;
    text-align: left;
  }
}
@media (min-width: 1900px) {
  .section-main {
    padding: 150px 0 55px;
  }
}
@media (min-width: 768px) {
  .section-main__container {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
  }
}
.section-main__title {
  margin-bottom: 25px;
  font-weight: normal;
}
@media (min-width: 992px) {
  .section-main__title {
    margin-bottom: 45px;
  }
}
.section-main__slogan {
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  .section-main__slogan {
    margin-bottom: 125px;
  }
}
@media (min-width: 992px) {
  .section-main__foo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.section-main__buttons {
  margin-bottom: 15px;
}
.section-main__button {
  margin-bottom: 5px;
  margin-right: 15px;
}
.section-main__social {
  display: none;
}
@media (min-width: 992px) {
  .section-main__social {
    display: block;
    margin-left: auto;
  }
}
.section-news {
  padding: 40px 0 20px;
  background: #edecea;
}
@media (min-width: 768px) {
  .section-news__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 768px) {
  .section-news__column {
    width: 50%;
    margin-right: 20px;
  }
}
.section-news__column:last-child {
  margin-right: 0;
}
.section-news__card {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .section-news__card {
    margin-bottom: 40px;
  }
}
@media (min-width: 1900px) {
  .section-news__card {
    margin-bottom: 65px;
  }
}
.section-news__button {
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .section-news__button {
    margin-bottom: 45px;
  }
}
.section-invest-map {
  padding: 40px 0 20px;
  background: #929292 url("../images/bg-invest-map.jpg") center center/cover;
  color: #fff;
}
@media (min-width: 768px) {
  .section-invest-map {
    padding: 60px 0 25px;
  }
}
@media (min-width: 768px) {
  .section-invest-map__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 768px) {
  .section-invest-map__column_desc {
    width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding-top: 5px;
    margin-right: 20px;
  }
}
@media (min-width: 992px) {
  .section-invest-map__column_desc {
    width: 40%;
    padding-top: 0;
  }
}
@media (min-width: 1900px) {
  .section-invest-map__column_desc {
    margin-right: 75px;
  }
}
.section-invest-map__column_map {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}
.section-invest-map__title {
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .section-invest-map__title {
    margin-bottom: 90px;
  }
}
.section-invest-map__desc {
  margin-bottom: 40px;
  font-size: 15px;
}
@media (min-width: 768px) {
  .section-invest-map__desc {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .section-invest-map__desc {
    font-size: 22px;
  }
}
@media (min-width: 1900px) {
  .section-invest-map__desc {
    font-size: 35px;
  }
}
.section-invest-map__tabs {
  margin-left: 20px;
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .section-invest-map__tabs {
    margin-bottom: 10px;
  }
}
@media (min-width: 1900px) {
  .section-invest-map__tabs {
    margin-bottom: 50px;
  }
}
.section-invest-map__map {
  width: 100%;
  height: auto;
  max-width: 850px;
}
@media (min-width: 992px) {
  .nav-top {
    font-family: Suisse;
    font-size: 18px;
  }
}
@media (min-width: 1300px) {
  .nav-top {
    font-size: 20px;
  }
}
@media (min-width: 1900px) {
  .nav-top {
    font-size: 25px;
  }
}
.nav-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.nav-top__item {
  margin-right: 12px;
}
@media (min-width: 1200px) {
  .nav-top__item {
    margin-right: 15px;
  }
}
@media (min-width: 1900px) {
  .nav-top__item {
    margin-right: 20px;
  }
}
.nav-top__link {
  color: #fff;
  text-decoration: none;
}
.nav-top__link:hover {
  text-decoration: underline;
}
.nav-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav-social__item {
  margin-right: 10px;
}
@media (min-width: 768px) {
  .nav-social__item {
    margin-right: 15px;
  }
}
.nav-social__item:last-child {
  margin-right: 0;
}
.nav-social__link {
  display: block;
}
.nav-social__icon {
  width: 49px;
  height: auto;
}
@media (min-width: 1900px) {
  .nav-social__icon {
    width: 60px;
  }
}
.card-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1200px) {
  .card-news {
    min-height: 165px;
  }
}
.card-news__column_pr {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  margin-right: 10px;
  width: 70px;
}
@media (min-width: 768px) {
  .card-news__column_pr {
    width: 120px;
  }
}
@media (min-width: 992px) {
  .card-news__column_pr {
    width: 150px;
    margin-right: 30px;
  }
}
@media (min-width: 1900px) {
  .card-news__column_pr {
    width: 250px;
    margin-right: 50px;
  }
}
@media (min-width: 768px) {
  .card-news__column_desc {
    padding-top: 5px;
  }
}
@media (min-width: 1900px) {
  .card-news__column_desc {
    padding-top: 25px;
  }
}
.card-news__pr {
  display: block;
  width: 100%;
  height: auto;
}
.card-news__date {
  display: block;
  margin-bottom: 5px;
  font-family: Suisse;
  font-size: 10px;
  color: #635c4b;
}
@media (min-width: 768px) {
  .card-news__date {
    margin-bottom: 20px;
  }
}
@media (min-width: 1900px) {
  .card-news__date {
    font-size: 20px;
  }
}
.card-news__title {
  font-size: 14px;
  text-decoration: none;
  color: #635c4b;
}
.card-news__title:hover {
  text-decoration: underline;
}
@media (min-width: 480px) {
  .card-news__title {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .card-news__title {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .card-news__title {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .card-news__title {
    font-size: 25px;
  }
}
@media (min-width: 1900px) {
  .card-news__title {
    font-size: 35px;
  }
}
