@font-face {
  font-family: Suisse;
  src: url("../fonts/Suisse/suisseintl-book.woff2") format('woff2'), url("../fonts/Suisse/suisseintl-book.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'William Display';
  src: url("../fonts/WilliamDisplay/williamdisplay.woff2") format('woff2'), url("../fonts/WilliamDisplay/williamdisplay.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: William;
  src: url("../fonts/William/williamregular.woff2") format('woff2'), url("../fonts/William/williamregular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
.h1 {
  margin: 0;
  font-family: 'William Display';
  font-size: 40px;
  line-height: 0.83;
}
@media (min-width: 768px) {
  .h1 {
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  .h1 {
    font-size: 60px;
  }
}
@media (min-width: 1200px) {
  .h1 {
    font-size: 80px;
  }
}
@media (min-width: 1300px) {
  .h1 {
    font-size: 120px;
  }
}
@media (min-width: 1300px) {
  .h1 {
    font-size: 150px;
  }
}
.h2 {
  margin: 0;
  font-family: William;
  font-size: 20px;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .h2 {
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .h2 {
    font-size: 40px;
  }
}
@media (min-width: 1300px) {
  .h2 {
    font-size: 45px;
  }
}
@media (min-width: 1900px) {
  .h2 {
    font-size: 60px;
  }
}
.p {
  font-size: 16px;
  margin-bottom: 1em;
}
@media (min-width: 768px) {
  .p {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .p {
    font-size: 22px;
  }
}
.icon-social-dark {
  border: 2px solid #635c4b;
  border-radius: 50%;
}
.icon-social-dark__path {
  fill: #635c4b;
}
.icon-social-dark:hover {
  background: #635c4b;
}
.icon-social-dark:hover .icon-social-dark__path {
  fill: #fff;
}
.icon-social {
  border: 2px solid #fff;
  border-radius: 50%;
}
.icon-social:hover {
  background: #fff;
}
.icon-social:hover .icon-social__path {
  fill: #635c4b;
}
.list-line {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.list-line__item {
  padding: 15px 15px 15px 0;
  border-top: 2px solid #fff;
}
@media (min-width: 1200px) {
  .list-line__item {
    padding: 15px 30% 15px 0;
  }
}
.list-line__item:last-child {
  border-bottom: 2px solid #fff;
}
[v-cloak] {
  display: none;
}
.button {
  display: inline-block;
  font-family: Suisse;
  border: none;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button_size_sm {
  padding: 15px 20px 13px;
  font-size: 16px;
  line-height: 1.2;
  border-radius: 30px;
}
@media (min-width: 768px) {
  .button_size_sm {
    font-size: 20px;
  }
}
@media (min-width: 1900px) {
  .button_size_sm {
    padding: 20px 30px 18px;
    border-radius: 45px;
    font-size: 25px;
  }
}
.button_outline {
  border: 2px solid;
}
.button_theme_white {
  background: #fff;
  color: #635c4b;
}
.button_theme_white:hover {
  background: #635c4b;
  color: #fff;
}
.button_theme_outline-white {
  color: #fff;
  border-color: #fff;
}
.button_theme_outline-white:hover {
  background: #fff;
  color: #635c4b;
}
.button_theme_outline-dark {
  color: #635c4b;
  border-color: #635c4b;
}
.button_theme_outline-dark:hover {
  color: #fff;
  background: #635c4b;
}
.button-with-icon {
  padding: 0;
  background: transparent;
  border: none;
}
.button-with-icon__svg {
  stroke: currentColor;
}
.ui-search-top {
  position: relative;
  color: #fff;
  border-radius: 25px;
  border: 2px solid #fff;
}
.ui-search-top__field {
  visible: hidden;
  width: 100%;
  height: 45px;
  padding: 0 25px;
  border: none;
  background: transparent;
  text-align: right;
  color: #fff;
  font-family: Suisse;
  font-size: 15px;
}
.ui-search-top__field::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
.ui-search-top__field:-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.ui-search-top__field::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.ui-search-top__field:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
.ui-search-top__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: 10px;
  width: 26px;
  height: 26px;
  color: #fff;
}
.ui-search-top__button:hover {
  color: #ccc;
}
.ui-lang-switcher {
  position: relative;
  border: 2px solid #fff;
  color: #fff;
  font-family: Suisse;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.ui-lang-switcher__current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 45px;
  padding: 0 25px;
  cursor: pointer;
}
.ui-lang-switcher__corner {
  margin-left: 10px;
}
.ui-lang-switcher__list {
  padding-top: 45px;
  top: -2px;
  left: -2px;
  right: -2px;
  border-radius: 25px;
  border: 2px solid;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}
.ui-lang-switcher__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 45px;
  padding: 0 25px;
  border-radius: 25px;
  cursor: pointer;
}
.ui-lang-switcher__item:hover {
  background: #fff;
  color: #000;
}
.ui-lang-switcher__item_current {
  display: none;
}
.nav-tabs__list {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: 2px solid #fff;
  border-radius: 30px;
  overflow: hidden;
}
@media (min-width: 1900px) {
  .nav-tabs__list {
    border-radius: 50px;
  }
}
.nav-tabs__item {
  padding: 10px;
  border-right: 2px solid #fff;
}
@media (min-width: 1900px) {
  .nav-tabs__item {
    padding: 25px;
  }
}
.nav-tabs__item_active,
.nav-tabs__item:hover {
  background: rgba(255,255,255,0.533);
}
.nav-tabs__item:first-child {
  padding-left: 20px;
}
@media (min-width: 1900px) {
  .nav-tabs__item:first-child {
    padding-left: 40px;
  }
}
.nav-tabs__item:last-child {
  border-right: none;
  padding-right: 20px;
}
@media (min-width: 1900px) {
  .nav-tabs__item:last-child {
    padding-right: 40px;
  }
}
.nav-tabs__link {
  color: inherit;
  text-decoration: none;
}
.menu {
  display: block;
}
.menu__bar {
  stroke: #fff;
  stroke-width: 5;
  stroke-linecap: round;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transition: opacity, 0.3s -webkit-transform;
  transition: opacity, 0.3s -webkit-transform;
  -o-transition: 0.3s transform, opacity;
  transition: 0.3s transform, opacity;
  transition: 0.3s transform, opacity, 0.3s -webkit-transform;
  fill: #fff;
}
.menu_cross .menu__bar {
  opacity: 0;
}
.menu_cross .menu__bar_cross {
  opacity: 1;
}
.menu_cross .menu__bar_cross:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu_cross .menu__bar_cross:nth-of-type(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.swiper-container .swiper-pagination-bullets {
  text-align: left;
  padding: 0 30px;
}
.swiper-container .swiper-pagination-bullet {
  background: #9a8d8d;
  width: 46px;
  height: 46px;
  margin: 0 8px;
  text-align: left;
  opacity: 0.5;
}
.swiper-container .swiper-pagination-bullet-active,
.swiper-container .swiper-pagination-bullet:hover {
  background: #9a8d8d;
  opacity: 1;
}
.section-header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
}
.section-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.section-header__column_menu {
  margin-right: auto;
  stroke: #fff;
}
@media (min-width: 992px) {
  .section-header__column_menu {
    display: none;
  }
}
.section-header__column_nav {
  display: none;
}
@media (min-width: 992px) {
  .section-header__column_nav {
    display: block;
    margin-right: auto;
  }
}
.section-header__column_social {
  display: none;
}
@media (min-width: 480px) {
  .section-header__column_social {
    display: block;
  }
}
@media (min-width: 992px) {
  .section-header__column_social {
    display: none;
  }
}
.section-header__column_lang {
  display: none;
}
@media (min-width: 768px) {
  .section-header__column_lang {
    display: block;
    margin-left: 15px;
  }
}
.section-header__search {
  width: 50px;
  margin-left: 10px;
}
@media (min-width: 768px) {
  .section-header__search {
    margin-left: 15px;
  }
}
@media (min-width: 1200px) {
  .section-header__search {
    width: 150px;
    margin-left: 60px;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
  }
}
@media (min-width: 1900px) {
  .section-header__search {
    width: 350px;
  }
}
.section-news {
  padding: 40px 0 20px;
  background: #edecea;
}
@media (min-width: 768px) {
  .section-news__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 768px) {
  .section-news__column {
    width: 50%;
    margin-right: 20px;
  }
}
.section-news__column:last-child {
  margin-right: 0;
}
.section-news__card {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .section-news__card {
    margin-bottom: 40px;
  }
}
@media (min-width: 1900px) {
  .section-news__card {
    margin-bottom: 65px;
  }
}
.section-news__button {
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .section-news__button {
    margin-bottom: 45px;
  }
}
.section-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 150px 0 55px;
  color: #fff;
  text-align: center;
}
.section-main-- {
  position: relative;
  overflow: hidden;
}
.section-main__backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: 10s all;
  -o-transition: 10s all;
  transition: 10s all;
}
.section-main__bg {
  width: 100%;
  height: 100%;
  background: url("../images/xs-bg-main.jpg") center/cover no-repeat;
}
@media (min-width: 1200px) {
  .section-main__bg {
    background: url("../images/bg-main.jpg") center/cover no-repeat;
  }
}
.section-main__bg.animation {
  -webkit-animation: bg-scale 10s;
  animation: bg-scale 10s;
}
@media (min-width: 768px) {
  .section-main {
    min-height: 100vh;
    padding: 100px 0 55px;
    text-align: left;
  }
}
@media (min-width: 1900px) {
  .section-main {
    padding: 150px 0 55px;
  }
}
@media (min-width: 768px) {
  .section-main__container {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
  }
}
.section-main__title {
  margin-bottom: 25px;
  font-weight: normal;
}
@media (min-width: 992px) {
  .section-main__title {
    margin-bottom: 45px;
  }
}
.section-main__slogan {
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  .section-main__slogan {
    margin-bottom: 125px;
  }
}
@media (min-width: 992px) {
  .section-main__foo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.section-main__buttons {
  margin-bottom: 15px;
}
.section-main__button {
  margin-bottom: 5px;
  margin-right: 15px;
}
.section-main__social {
  display: none;
}
@media (min-width: 992px) {
  .section-main__social {
    display: block;
    margin-left: auto;
  }
}
.section-invest-map {
  padding: 40px 0 20px;
  background: #929292 url("../images/bg-invest-map.jpg") center center/cover;
  color: #fff;
}
@media (min-width: 768px) {
  .section-invest-map {
    padding: 60px 0 25px;
  }
}
@media (min-width: 768px) {
  .section-invest-map__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 768px) {
  .section-invest-map__column_desc {
    width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding-top: 5px;
    margin-right: 20px;
  }
}
@media (min-width: 992px) {
  .section-invest-map__column_desc {
    width: 40%;
    padding-top: 0;
  }
}
@media (min-width: 1900px) {
  .section-invest-map__column_desc {
    margin-right: 75px;
  }
}
.section-invest-map__column_map {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}
.section-invest-map__title {
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .section-invest-map__title {
    margin-bottom: 90px;
  }
}
.section-invest-map__desc {
  margin-bottom: 40px;
  font-size: 15px;
}
@media (min-width: 768px) {
  .section-invest-map__desc {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .section-invest-map__desc {
    font-size: 22px;
  }
}
@media (min-width: 1900px) {
  .section-invest-map__desc {
    font-size: 35px;
  }
}
.section-invest-map__tabs {
  margin-left: 20px;
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .section-invest-map__tabs {
    margin-bottom: 10px;
  }
}
@media (min-width: 1900px) {
  .section-invest-map__tabs {
    margin-bottom: 50px;
  }
}
.section-invest-map__map {
  width: 100%;
  height: auto;
  max-width: 850px;
}
@-moz-keyframes bg-scale {
  from {
    width: 100%;
    height: 100%;
  }
  to {
    width: 120%;
    height: 120%;
  }
}
@-webkit-keyframes bg-scale {
  from {
    width: 100%;
    height: 100%;
  }
  to {
    width: 120%;
    height: 120%;
  }
}
@-o-keyframes bg-scale {
  from {
    width: 100%;
    height: 100%;
  }
  to {
    width: 120%;
    height: 120%;
  }
}
@keyframes bg-scale {
  from {
    width: 100%;
    height: 100%;
  }
  to {
    width: 120%;
    height: 120%;
  }
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.page {
  padding: 0;
  margin: 0;
  font-family: Suisse;
}
.section {
  max-width: 1920px;
  margin: auto;
}
.section__container {
  padding: 0 10px;
}
@media (min-width: 992px) {
  .section__container {
    padding: 0 30px;
  }
}
.popup {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 !important;
}
.popup__header {
  padding: 20px 10px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  border-bottom: 3px solid #635c4b;
  color: #635c4b;
}
.popup__foo {
  margin-top: auto;
  padding: 20px 10px;
}
.nav-popup__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav-popup__item {
  border-bottom: 2px solid #635c4b;
  color: #635c4b;
  font-weight: 600;
}
.nav-popup__link {
  display: block;
  color: #635c4b;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}
.nav-popup__link:hover {
  background: #635c4b;
  color: #fff;
}
@media (min-width: 992px) {
  .nav-top {
    font-family: Suisse;
    font-size: 18px;
  }
}
@media (min-width: 1300px) {
  .nav-top {
    font-size: 20px;
  }
}
@media (min-width: 1900px) {
  .nav-top {
    font-size: 25px;
  }
}
.nav-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.nav-top__item {
  margin-right: 12px;
}
@media (min-width: 1200px) {
  .nav-top__item {
    margin-right: 15px;
  }
}
@media (min-width: 1900px) {
  .nav-top__item {
    margin-right: 20px;
  }
}
.nav-top__link {
  color: #fff;
  text-decoration: none;
}
.nav-top__link:hover {
  text-decoration: underline;
}
.nav-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav-social__item {
  margin-right: 10px;
}
@media (min-width: 768px) {
  .nav-social__item {
    margin-right: 15px;
  }
}
.nav-social__item:last-child {
  margin-right: 0;
}
.nav-social__link {
  display: block;
}
.nav-social__icon {
  width: 49px;
  height: 49px;
}
@media (min-width: 1900px) {
  .nav-social__icon {
    width: 60px;
    height: 60px;
  }
}
.card-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1200px) {
  .card-news {
    min-height: 165px;
  }
}
.card-news__column_pr {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  margin-right: 10px;
  width: 70px;
}
@media (min-width: 768px) {
  .card-news__column_pr {
    width: 120px;
  }
}
@media (min-width: 992px) {
  .card-news__column_pr {
    width: 150px;
    margin-right: 30px;
  }
}
@media (min-width: 1900px) {
  .card-news__column_pr {
    width: 250px;
    margin-right: 50px;
  }
}
@media (min-width: 768px) {
  .card-news__column_desc {
    padding-top: 5px;
  }
}
@media (min-width: 1900px) {
  .card-news__column_desc {
    padding-top: 25px;
  }
}
.card-news__pr {
  display: block;
  width: 100%;
  height: auto;
}
.card-news__date {
  display: block;
  margin-bottom: 5px;
  font-family: Suisse;
  font-size: 10px;
  color: #635c4b;
}
@media (min-width: 768px) {
  .card-news__date {
    margin-bottom: 20px;
  }
}
@media (min-width: 1900px) {
  .card-news__date {
    font-size: 20px;
  }
}
.card-news__title {
  font-size: 14px;
  text-decoration: none;
  color: #635c4b;
}
.card-news__title:hover {
  text-decoration: underline;
}
@media (min-width: 480px) {
  .card-news__title {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .card-news__title {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .card-news__title {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .card-news__title {
    font-size: 25px;
  }
}
@media (min-width: 1900px) {
  .card-news__title {
    font-size: 35px;
  }
}
.section-edge {
  padding: 40px 0 20px;
  color: #fff;
  background: #68635a url("../images/bg-edge.jpg") center center/cover;
}
@media (min-width: 992px) {
  .section-edge {
    padding: 70px 0 40px;
  }
}
.section-edge__title {
  margin-bottom: 20px;
}
@media (min-width: 1900px) {
  .section-edge__title {
    margin-bottom: 50px;
  }
}
.section-edge__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.section-edge__card {
  margin-bottom: 10px;
  width: 50%;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}
@media (min-width: 768px) {
  .section-edge__card {
    width: 33.333333333333336%;
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .section-edge__card {
    width: 25%;
    margin-bottom: 45px;
  }
}
@media (min-width: 1900px) {
  .section-edge__card {
    width: 16.666666666666668%;
  }
}
.card-edge {
  min-width: 150px;
  padding: 0 5px;
}
.card-edge__header {
  min-height: 50px;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .card-edge__header {
    margin-bottom: 10px;
  }
}
.card-edge__pr {
  display: block;
}
.card-edge__title {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .card-edge__title {
    margin-bottom: 10px;
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  .card-edge__title {
    font-size: 45px;
  }
}
@media (min-width: 1900px) {
  .card-edge__title {
    font-size: 55px;
    margin-bottom: 20px;
  }
}
.card-edge__desc {
  font-size: 12px;
}
@media (min-width: 768px) {
  .card-edge__desc {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .card-edge__desc {
    font-size: 22px;
  }
}
.section-gov {
  padding: 40px 0 20px;
  background: url("../images/bg-gov.jpg") center top/cover;
  color: #fff;
}
@media (min-width: 768px) {
  .section-gov {
    min-height: 825px;
    padding: 100px 0 0;
  }
}
@media (min-width: 768px) {
  .section-gov__column {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .section-gov__column {
    width: 40%;
  }
}
.section-gov__desc {
  margin-bottom: 20px;
  font-family: Suisse;
  font-size: 18px;
}
@media (min-width: 480px) {
  .section-gov__desc {
    margin-bottom: 40px;
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .section-gov__desc {
    font-size: 35px;
  }
}
.section-gov__name {
  margin-bottom: 40px;
  font-size: 16px;
}
@media (min-width: 480px) {
  .section-gov__name {
    font-size: 22px;
  }
}
@media (min-width: 992px) {
  .section-gov__name {
    margin-bottom: 160px;
  }
}
.section-gov__more {
  width: 18px;
  height: auto;
  margin-left: 5px;
}
@media (min-width: 992px) {
  .section-gov__more {
    width: 26px;
  }
}
.section-priory {
  padding: 40px 0 20px;
  color: #fff;
}
@media (min-width: 1200px) {
  .section-priory {
    min-height: 100vh;
  }
}
@media (min-width: 1900px) {
  .section-priory {
    min-height: 100vh;
  }
}
@media (min-width: 992px) {
  .section-priory__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.section-priory__column {
  padding-bottom: 70px;
}
@media (min-width: 992px) {
  .section-priory__column {
    width: 50%;
  }
}
.section-priory__column_title {
  padding-top: 30px;
}
.card-priory {
  padding: 10px;
  background: rgba(99,92,75,0.533);
}
@media (min-width: 480px) {
  .card-priory {
    padding: 30px 90px 30px 30px;
  }
}
.card-priory__title {
  font-family: Suisse;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .card-priory__title {
    margin-bottom: 40px;
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .card-priory__title {
    font-size: 40px;
  }
}
@media (min-width: 1300px) {
  .card-priory__title {
    font-size: 45px;
  }
}
@media (min-width: 1900px) {
  .card-priory__title {
    font-size: 60px;
  }
}
.card-success-story {
  padding: 10px;
  background: rgba(99,92,75,0.533);
}
@media (min-width: 480px) {
  .card-success-story {
    padding: 30px;
  }
}
.card-success-story__header {
  text-align: center;
  margin-bottom: 5px;
}
@media (min-width: 480px) {
  .card-success-story__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
    text-align: left;
  }
}
@media (min-width: 480px) {
  .card-success-story__column_pr {
    margin-right: 15px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }
}
@media (min-width: 1300px) {
  .card-success-story__column_pr {
    margin-right: 60px;
  }
}
.card-success-story__pr {
  border-radius: 50%;
  width: 120px;
  height: auto;
}
@media (min-width: 1300px) {
  .card-success-story__pr {
    width: 180px;
  }
}
.card-success-story__title {
  font-family: Suisse;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 5px;
}
@media (min-width: 480px) {
  .card-success-story__title {
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .card-success-story__title {
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .card-success-story__title {
    font-size: 40px;
  }
}
@media (min-width: 1300px) {
  .card-success-story__title {
    font-size: 45px;
  }
}
@media (min-width: 1900px) {
  .card-success-story__title {
    font-size: 60px;
  }
}
.section-investor-window {
  position: relative;
  background: #8e8e8d;
  color: #fff;
}
.section-investor-window__inner {
  padding: 40px 0 20px;
}
@media (min-width: 992px) {
  .section-investor-window__inner {
    padding: 100px 0 40px;
  }
}
@media (min-width: 1900px) {
  .section-investor-window__inner {
    padding: 120px 0 60px;
  }
}
.section-investor-window__title {
  margin-bottom: 20px;
}
@media (min-width: 480px) {
  .section-investor-window__title {
    margin-bottom: 0;
  }
}
.section-investor-window__header {
  margin-bottom: 25px;
}
@media (min-width: 480px) {
  .section-investor-window__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 50px;
  }
}
@media (min-width: 1900px) {
  .section-investor-window__header {
    margin-bottom: 100px;
  }
}
.section-investor-window__close {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 100%;
  background: rgba(0,0,0,0.35);
  cursor: pointer;
}
.section-investor-window__close:hover {
  background: rgba(0,0,0,0.6);
}
.list-ver-line {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
@media (min-width: 480px) {
  .list-ver-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
}
.list-ver-line__item {
  border-left: 2px solid #fff;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  padding: 0 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
@media (min-width: 480px) {
  .list-ver-line__item {
    width: 50%;
    padding: 0 15px;
  }
}
@media (min-width: 992px) {
  .list-ver-line__item {
    width: 25%;
  }
}
@media (min-width: 1900px) {
  .list-ver-line__item {
    padding: 0 30px;
  }
}
@media (min-width: 480px) {
  .list-ver-line__item:nth-child(2n) {
    border-right: 2px solid #fff;
  }
}
@media (min-width: 992px) {
  .list-ver-line__item:nth-child(2n) {
    border-right: none;
  }
}
@media (min-width: 480px) {
  .list-ver-line__item:nth-child(4n) {
    border-right: 2px solid #fff;
  }
}
.card-investor-window__number {
  font-family: Suisse;
  font-size: 20px;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .card-investor-window__number {
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .card-investor-window__number {
    font-size: 40px;
  }
}
@media (min-width: 1300px) {
  .card-investor-window__number {
    font-size: 45px;
  }
}
@media (min-width: 1900px) {
  .card-investor-window__number {
    font-size: 60px;
  }
}
@media (min-width: 480px) {
  .card-ver-investor-window {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.card-ver-investor-window__number {
  font-family: Suisse;
  font-size: 20px;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .card-ver-investor-window__number {
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .card-ver-investor-window__number {
    font-size: 40px;
  }
}
@media (min-width: 1300px) {
  .card-ver-investor-window__number {
    font-size: 45px;
  }
}
@media (min-width: 1900px) {
  .card-ver-investor-window__number {
    font-size: 60px;
  }
}
.card-ver-investor-window__p {
  font-size: 14px;
}
@media (min-width: 480px) {
  .card-ver-investor-window__p {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .card-ver-investor-window__p {
    font-size: 20px;
  }
}
@media (min-width: 1900px) {
  .card-ver-investor-window__p {
    font-size: 25px;
  }
}
.card-ver-investor-window__pr {
  padding-top: 35px;
  margin-top: auto;
}
@media (min-width: 1900px) {
  .card-ver-investor-window__pr {
    padding-top: 55px;
  }
}
.section-success-story {
  padding: 40px 0 20px;
  color: #fff;
}
@media (min-width: 1200px) {
  .section-success-story {
    min-height: 100vh;
  }
}
@media (min-width: 992px) {
  .section-success-story__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.section-success-story__column {
  padding-bottom: 70px;
}
@media (min-width: 992px) {
  .section-success-story__column {
    width: 50%;
    padding-bottom: 0;
  }
}
.section-success-story__column_title {
  padding-top: 30px;
}
@media (min-width: 992px) {
  .visible-md {
    display: block;
  }
}
.hidden {
  display: none;
}
