@font-face {
  font-family: Suisse;
  src: url("../fonts/Suisse/suisseintl-book.woff2") format('woff2'), url("../fonts/Suisse/suisseintl-book.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'William Display';
  src: url("../fonts/WilliamDisplay/williamdisplay.woff2") format('woff2'), url("../fonts/WilliamDisplay/williamdisplay.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: William;
  src: url("../fonts/William/williamregular.woff2") format('woff2'), url("../fonts/William/williamregular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
.h1 {
  margin: 0;
  font-family: 'William Display';
  font-size: 40px;
  line-height: 0.83;
}
@media (min-width: 768px) {
  .h1 {
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  .h1 {
    font-size: 60px;
  }
}
@media (min-width: 1200px) {
  .h1 {
    font-size: 80px;
  }
}
@media (min-width: 1300px) {
  .h1 {
    font-size: 120px;
  }
}
@media (min-width: 1300px) {
  .h1 {
    font-size: 150px;
  }
}
.h2 {
  margin: 0;
  font-family: William;
  font-size: 20px;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .h2 {
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .h2 {
    font-size: 40px;
  }
}
@media (min-width: 1300px) {
  .h2 {
    font-size: 45px;
  }
}
@media (min-width: 1900px) {
  .h2 {
    font-size: 60px;
  }
}
.h2 {
  margin: 0;
  font-family: William;
  font-size: 20px;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .h2 {
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .h2 {
    font-size: 40px;
  }
}
@media (min-width: 1300px) {
  .h2 {
    font-size: 45px;
  }
}
@media (min-width: 1900px) {
  .h2 {
    font-size: 60px;
  }
}
.h3 {
  margin: 0;
  font-family: William;
  font-size: 20px;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .h3 {
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .h3 {
    font-size: 35px;
  }
}
@media (min-width: 1300px) {
  .h3 {
    font-size: 40px;
  }
}
@media (min-width: 1900px) {
  .h3 {
    font-size: 50px;
  }
}
.h4 {
  margin: 0;
  font-family: William;
  font-size: 18px;
  line-height: 1.1;
}
@media (min-width: 1300px) {
  .h4 {
    font-size: 20px;
  }
}
@media (min-width: 1900px) {
  .h4 {
    font-size: 25px;
  }
}
.p {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  margin-bottom: 3em;
  line-height: 25px;
}
@media (min-width: 992px) {
  .p {
    font-size: 16px;
    line-height: 30px;
  }
}
.blockquote {
  position: relative;
  margin: 0;
  border: 12px solid;
  padding: 10px;
  margin-bottom: 60px;
  font-family: William;
  font-size: 14px;
}
@media (min-width: 768px) {
  .blockquote {
    padding: 25px;
    border: 12px solid;
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .blockquote {
    padding: 50px;
    font-size: 22px;
  }
}
.blockquote__separator {
  margin: 15px 0 20px;
  height: 1px;
  background: #edecea;
}
.blockquote__number {
  margin-bottom: 5px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
.blockquote__date {
  opacity: 0.66;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
.blockquote__corner {
  position: absolute;
  top: 100%;
  left: 70%;
}
.blockquote_theme_quartz {
  border-color: #8e8e8e;
  fill: #8e8e8e;
}
.blockquote_theme_forest-wolf {
  border-color: #edecea;
  fill: #edecea;
}
.text {
  font-size: 16px;
  margin-bottom: 1em;
}
@media (min-width: 768px) {
  .text {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .text {
    font-size: 22px;
  }
}
.icon-social-dark {
  border-radius: 50%;
  background: #d3d1cc;
}
.icon-social-dark:hover {
  background: #191919;
}
.icon-social {
  border-radius: 50%;
  background: #191919;
}
.icon-social:hover {
  background: #d3d1cc;
}
.list-line {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.list-line__item {
  padding: 15px 15px 15px 0;
  border-top: 2px solid #fff;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .list-line__item {
    padding: 15px 30% 15px 0;
  }
}
.list-line__item:last-child {
  border-bottom: 2px solid #fff;
}
.text-granite {
  color: #2f3440;
}
.text-dark {
  color: #635c4b;
}
.text-quartz {
  color: #8e8e8e;
}
.table {
  width: 100%;
  border-spacing: 0;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
}
@media (min-width: 480px) {
  .table {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .table {
    font-size: 18px;
  }
}
.table th {
  border-bottom: 1px solid #b6b6b6;
  background-color: #edecea;
  color: #191919;
  padding: 5px;
}
@media (min-width: 480px) {
  .table th {
    padding: 10px;
  }
}
@media (min-width: 768px) {
  .table th {
    padding: 25px;
  }
}
.table tr:nth-child(2n+1) td {
  background: #edecea;
}
.table td {
  padding: 5px;
  text-align: center;
}
@media (min-width: 480px) {
  .table td {
    padding: 10px;
  }
}
@media (min-width: 768px) {
  .table td {
    padding: 25px;
  }
}
.paper-forest-wolf {
  background: #edecea;
}
.fully-img {
  width: 100%;
  height: auto;
}
.circle-img {
  border-radius: 50%;
}
.a {
  color: inherit;
}
.button {
  display: inline-block;
  font-family: Suisse;
  border: none;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 100%;
}
.button_size_xs {
  padding: 15px 15px 13px;
  font-size: 16px;
  line-height: 1.2;
  border-radius: 30px;
}
@media (min-width: 768px) {
  .button_size_xs {
    font-size: 18px;
  }
}
@media (min-width: 1900px) {
  .button_size_xs {
    padding: 20px 30px 18px;
    border-radius: 45px;
    font-size: 20px;
  }
}
.button_size_sm {
  padding: 15px 20px 13px;
  font-size: 16px;
  line-height: 1.2;
  border-radius: 30px;
}
@media (min-width: 768px) {
  .button_size_sm {
    font-size: 20px;
  }
}
@media (min-width: 1900px) {
  .button_size_sm {
    padding: 20px 30px 18px;
    border-radius: 45px;
    font-size: 25px;
  }
}
.button_outline {
  background: transparent;
  border: 1px solid;
}
.button_theme_white {
  background: #fff;
  color: #635c4b;
}
.button_theme_white:hover {
  background: #635c4b;
  color: #fff;
}
.button_theme_outline-white {
  color: #fff;
  border-color: #fff;
}
.button_theme_outline-white:hover {
  background: #fff;
  color: #635c4b;
}
.button_theme_outline-white-dark {
  color: #191919;
  border-color: #635c4b;
}
.button_theme_outline-white-dark:hover {
  color: #191919;
  background: #635c4b;
}
.button_theme_outline-dark {
  color: #635c4b;
  border-color: #635c4b;
}
.button_theme_outline-dark:hover {
  color: #fff;
  background: #635c4b;
}
.ui-dropdown {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 0;
  width: 175px;
  border-radius: 6px;
  overflow: hidden;
  list-style-type: none;
  background: #2f3440;
  color: #fff;
}
.ui-dropdown_open {
  display: block;
}
.ui-dropdown_top {
  top: 100%;
  left: 0;
  -webkit-transform: translate(-15px, 0);
  -ms-transform: translate(-15px, 0);
  transform: translate(-15px, 0);
}
.ui-dropdown__link {
  display: block;
  padding: 10px 15px;
  color: inherit;
  text-decoration: none;
  font-size: 14px;
}
.ui-dropdown__link:hover {
  background: #404759;
}
.button-with-icon {
  padding: 0;
  background: transparent;
  border: none;
}
.button-with-icon__svg {
  stroke: currentColor;
}
.ui-search-top {
  position: relative;
  background: #404759;
  color: #fff;
  border-radius: 25px;
  height: 45px;
}
.ui-search-top__field {
  display: none;
  width: 100%;
  height: 45px;
  padding: 0 40px 0 25px;
  border: none;
  background: transparent;
  text-align: left;
  color: #fff;
  font-family: Suisse;
  font-size: 15px;
}
.ui-search-top__field::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
.ui-search-top__field:-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.ui-search-top__field::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.ui-search-top__field:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
@media (min-width: 1200px) {
  .ui-search-top__field {
    display: block;
    padding: 0 40px 0 25px;
  }
}
.ui-search-top__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -55%);
  -ms-transform: translate(0, -55%);
  transform: translate(0, -55%);
  right: 10px;
  width: 26px;
  height: 26px;
  color: #fff;
}
.ui-search-top__button:hover {
  color: #ccc;
}
.ui-lang-switcher {
  position: relative;
  background: #404759;
  color: #fff;
  font-family: Suisse;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.ui-lang-switcher__svg {
  stroke: currentColor;
}
.ui-lang-switcher__current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 45px;
  padding: 0 25px;
  cursor: pointer;
  border-radius: 25px;
}
.ui-lang-switcher__current_open {
  background: #fff;
  color: #404759;
  stroke: #404759;
}
.ui-lang-switcher__corner {
  margin-left: 10px;
  color: inherit;
}
.ui-lang-switcher__list {
  padding-top: 50px;
  top: 0px;
  left: 0px;
  right: 0px;
  border-radius: 25px;
  background: #404759;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}
.ui-lang-switcher__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 45px;
  padding: 0 25px;
  cursor: pointer;
  color: #fff;
}
.ui-lang-switcher__item:hover {
  background: #fff;
  color: #404759;
}
.ui-lang-switcher__item_current {
  display: none;
}
.nav-tabs__list {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: 2px solid #fff;
  border-radius: 30px;
  overflow: hidden;
}
@media (min-width: 1900px) {
  .nav-tabs__list {
    border-radius: 50px;
  }
}
.nav-tabs__item {
  padding: 10px;
  border-right: 2px solid #fff;
  cursor: pointer;
}
@media (min-width: 1900px) {
  .nav-tabs__item {
    padding: 25px;
  }
}
.nav-tabs__item_active,
.nav-tabs__item:hover {
  background: rgba(255,255,255,0.533);
}
.nav-tabs__item:first-child {
  padding-left: 20px;
}
@media (min-width: 1900px) {
  .nav-tabs__item:first-child {
    padding-left: 40px;
  }
}
.nav-tabs__item:last-child {
  border-right: none;
  padding-right: 20px;
}
@media (min-width: 1900px) {
  .nav-tabs__item:last-child {
    padding-right: 40px;
  }
}
.nav-tabs__link {
  color: inherit;
  text-decoration: none;
}
.menu {
  display: block;
}
.menu__bar {
  stroke: #fff;
  stroke-width: 5;
  stroke-linecap: round;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transition: opacity, 0.3s -webkit-transform;
  transition: opacity, 0.3s -webkit-transform;
  -o-transition: 0.3s transform, opacity;
  transition: 0.3s transform, opacity;
  transition: 0.3s transform, opacity, 0.3s -webkit-transform;
  fill: #fff;
}
.menu_cross .menu__bar {
  opacity: 0;
}
.menu_cross .menu__bar_cross {
  opacity: 1;
}
.menu_cross .menu__bar_cross:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu_cross .menu__bar_cross:nth-of-type(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.swiper-container .swiper-pagination-bullets {
  text-align: left;
  padding: 0 30px;
}
.swiper-container .swiper-pagination-bullet {
  background: #9a8d8d;
  width: 46px;
  height: 46px;
  margin: 0 8px;
  text-align: left;
  opacity: 0.5;
}
.swiper-container .swiper-pagination-bullet-active,
.swiper-container .swiper-pagination-bullet:hover {
  background: #9a8d8d;
  opacity: 1;
}
.ui-form-row {
  display: block;
  margin-bottom: 25px;
}
.ui-form-row__label {
  display: block;
  font-family: Roboto, sans-serif;
  margin-bottom: 10px;
  font-size: 18px;
}
.ui-row-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
}
.ui-row-checkbox__box {
  margin-right: 10px;
}
.ui-field {
  height: 50px;
  padding: 0 15px;
  border-radius: 25px;
  border: 1px solid #b6b6b6;
  background: transparent;
  color: #fff;
}
.ui-textarea {
  height: 50px;
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid #b6b6b6;
  background: transparent;
  color: #fff;
  resize: none;
}
.--h-90 {
  height: 90px;
}
.--h-175 {
  height: 175px;
}
.--w-340 {
  width: 340px;
}
.available {
  display: block;
  width: 100%;
}
.section {
  margin: auto;
}
.section_full {
  min-height: 100vh;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.section__container {
  padding: 0 10px;
  max-width: 1920px;
  margin: auto;
}
@media (min-width: 992px) {
  .section__container {
    padding: 0 30px;
  }
}
.section-header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
}
@media (min-width: 768px) {
  .section-header {
    padding: 20px 0;
  }
}
.section-header_inside {
  position: fixed;
  background-color: #2f3440;
}
.section-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.section-header__column_logo {
  margin-right: 40px;
}
.section-header__column_menu {
  margin-left: auto;
  stroke: #fff;
}
@media (min-width: 768px) {
  .section-header__column_menu {
    display: none;
  }
}
.section-header__column_nav {
  display: none;
}
@media (min-width: 768px) {
  .section-header__column_nav {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    margin-right: auto;
  }
}
.section-header__column_social {
  display: none;
}
@media (min-width: 768px) {
  .section-header__column_social {
    display: block;
  }
}
@media (min-width: 992px) {
  .section-header__column_social {
    display: none;
  }
}
.section-header__column_search {
  display: none;
}
@media (min-width: 768px) {
  .section-header__column_search {
    display: block;
  }
}
.section-header__column_lang {
  display: none;
}
@media (min-width: 768px) {
  .section-header__column_lang {
    display: block;
    margin-left: 15px;
  }
}
.section-header__search {
  width: 50px;
  margin-left: 10px;
}
@media (min-width: 768px) {
  .section-header__search {
    margin-left: 15px;
  }
}
@media (min-width: 1200px) {
  .section-header__search {
    width: 150px;
    margin-left: 60px;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
  }
}
@media (min-width: 1900px) {
  .section-header__search {
    width: 350px;
  }
}
.section-news {
  padding: 40px 0 20px;
  background: #edecea;
}
@media (min-width: 768px) {
  .section-news__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 768px) {
  .section-news__column {
    width: 50%;
    margin-right: 20px;
  }
}
.section-news__column:last-child {
  margin-right: 0;
}
.section-news__card {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .section-news__card {
    margin-bottom: 40px;
  }
}
@media (min-width: 1900px) {
  .section-news__card {
    margin-bottom: 65px;
  }
}
.section-news__button {
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .section-news__button {
    margin-bottom: 45px;
  }
}
.section-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 150px 0 55px;
  color: #fff;
  text-align: center;
}
.section-main-- {
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  position: relative;
  overflow: hidden;
}
.section-main__backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.section-main__bg {
  width: 100%;
  height: 100%;
  background: url("../images/xs-bg-main.jpg") center/cover no-repeat;
}
@media (min-width: 1200px) {
  .section-main__bg {
    background: url("../images/bg-main.jpg") center/cover no-repeat;
  }
}
.section-main__bg.animation {
  -webkit-animation: bg-scale 15s forwards;
  animation: bg-scale 15s forwards;
}
@media (min-width: 768px) {
  .section-main {
    min-height: 100vh;
    padding: 100px 0 55px;
    text-align: left;
  }
}
@media (min-width: 1900px) {
  .section-main {
    padding: 150px 0 55px;
  }
}
@media (min-width: 768px) {
  .section-main__container {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
  }
}
.section-main__title {
  margin-bottom: 25px;
  font-weight: normal;
}
@media (min-width: 992px) {
  .section-main__title {
    margin-bottom: 45px;
  }
}
.section-main__slogan {
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  .section-main__slogan {
    margin-bottom: 125px;
  }
}
@media (min-width: 992px) {
  .section-main__foo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.section-main__buttons {
  margin-bottom: 15px;
}
.section-main__button {
  margin-bottom: 5px;
  margin-right: 15px;
}
.section-main__social {
  display: none;
}
@media (min-width: 992px) {
  .section-main__social {
    display: block;
    margin-left: auto;
  }
}
.section-invest-map {
  padding: 40px 0 20px;
  background: #929292 url("../images/bg-invest-map.jpg") center center/cover;
  color: #fff;
}
@media (min-width: 768px) {
  .section-invest-map {
    padding: 60px 0 25px;
  }
}
@media (min-width: 768px) {
  .section-invest-map__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 1fr;
    grid-template-columns: 40% 1fr;
    grid-gap: 20px;
    max-width: 100%;
    overflow: hidden;
  }
}
@media (min-width: 768px) and (min-width: 1900px) {
  .section-invest-map__container {
    grid-gap: 75px;
  }
}
@media (min-width: 768px) {
  .section-invest-map__column_desc {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding-top: 5px;
  }
}
@media (min-width: 992px) {
  .section-invest-map__column_desc {
    padding-top: 0;
  }
}
.section-invest-map__column_map {
  -ms-grid-column: 2;
}
.section-invest-map__title {
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .section-invest-map__title {
    margin-bottom: 90px;
  }
}
.section-invest-map__desc {
  margin-bottom: 40px;
  font-size: 15px;
}
@media (min-width: 768px) {
  .section-invest-map__desc {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .section-invest-map__desc {
    font-size: 22px;
  }
}
@media (min-width: 1900px) {
  .section-invest-map__desc {
    font-size: 35px;
  }
}
.section-invest-map__tabs {
  margin-left: 20px;
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .section-invest-map__tabs {
    margin-bottom: 10px;
  }
}
@media (min-width: 1900px) {
  .section-invest-map__tabs {
    margin-bottom: 50px;
  }
}
.section-invest-map__map {
  min-width: 0;
  width: 100%;
  height: auto;
}
.section-wallpaper {
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  overflow: hidden;
}
.section-wallpaper__bg {
  display: block;
  width: 100%;
  height: 560px;
  -o-object-fit: cover;
  object-fit: cover;
}
.section-wallpaper__bg.animation {
  -webkit-animation: bg-scale 15s forwards;
  animation: bg-scale 15s forwards;
}
.section-article {
  position: relative;
  margin-top: -110px;
  overflow: hidden;
}
.section-article__header {
  min-height: 110px;
  margin: 0 -15px;
  padding: 25px 15px 65px;
}
@media (min-width: 992px) {
  .section-article__header {
    margin: 0 -100px 0;
    padding: 65px 85px;
  }
}
.section-article__top {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .section-article__top {
    margin-bottom: 50px;
  }
}
@media (min-width: 992px) {
  .section-article__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.section-article__buttons {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .section-article__buttons {
    margin-bottom: 35px;
  }
}
@media (min-width: 992px) {
  .section-article__buttons {
    margin-bottom: 0;
  }
}
.section-article__button {
  margin-bottom: 10px;
}
@media (min-width: 480px) {
  .section-article__button {
    margin-right: 20px;
  }
}
.section-article__social {
  margin-left: auto;
}
.section-article__date {
  display: block;
  margin-bottom: 30px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  color: #635c4b;
}
.section-article__title {
  margin: 0 0 25px;
  color: #2f3440;
  font-family: 'William Display';
  font-size: 25px;
}
@media (min-width: 768px) {
  .section-article__title {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  .section-article__title {
    font-size: 40px;
    max-width: 80%;
    margin: 0 0 55px;
  }
}
@media (min-width: 1200px) {
  .section-article__title {
    font-size: 50px;
  }
}
@media (min-width: 1300px) {
  .section-article__title {
    font-size: 60px;
  }
}
@media (min-width: 1900px) {
  .section-article__title {
    font-size: 80px;
  }
}
.section-article__pr {
  margin-top: -65px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .section-article__pr {
    margin-bottom: 65px;
  }
}
.section-article__frame {
  padding: 55px 0;
  margin-bottom: 55px;
  border-top: 1px solid #edecea;
  border-bottom: 1px solid #edecea;
}
.section-article__h4 {
  margin-bottom: 20px;
}
.section-article__map {
  margin-bottom: 60px;
}
.article-gallery-slider {
  margin-bottom: 60px;
}
.article-gallery-slider__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
}
.article-gallery-slider__title {
  margin-right: auto;
}
.article-gallery-slider__nav {
  margin-left: 20px;
}
.article-edge__title {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .article-edge__title {
    margin-bottom: 50px;
  }
}
.article-edge__body {
  font-size: 0;
}
@supports (flex-wrap: wrap) {
  .article-edge__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.article-edge__card {
  display: inline-block;
  width: 50%;
  padding-right: 20px;
  margin-bottom: 25px;
}
@media (min-width: 600px) {
  .article-edge__card {
    width: 33.33%;
  }
}
@media (min-width: 768px) {
  .article-edge__card {
    padding-right: 40px;
    margin-bottom: 65px;
  }
}
.article-gov {
  padding: 35px;
  color: #fff;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .article-gov {
    padding: 75px 60px;
  }
}
@media (min-width: 600px) {
  .article-gov__content {
    max-width: 60%;
  }
}
@media (min-width: 768px) {
  .article-gov__content {
    max-width: 40%;
  }
}
.article-gov__position {
  font-size: 14px;
}
.article-gov__name {
  margin-bottom: 25px;
  font-size: 22px;
}
@media (min-width: 768px) {
  .article-gov__name {
    margin-bottom: 80px;
  }
}
.article-gov__desc {
  margin-bottom: 40px;
  font-size: 18px;
}
.article-author-md {
  padding: 20px 0;
  text-align: center;
}
@media (min-width: 992px) {
  .article-author-md {
    text-align: right;
    padding: 0 50px 0 0;
  }
}
.article-author-md__pr {
  margin-bottom: 15px;
}
.article-author-md__title {
  margin-bottom: 10px;
}
.article-author-md__date {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
.article-author-sm {
  text-align: right;
  padding: 20px;
}
@media (min-width: 992px) {
  .article-author-sm {
    padding: 0 30px 0 0;
  }
}
.article-author-sm__pr {
  margin-bottom: 15px;
}
.article-author-sm__title {
  margin-bottom: 10px;
}
.article-author-sm__date {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
.article-foo {
  border-top: 1px solid #edecea;
  border-bottom: 1px solid #edecea;
  padding: 60px 0;
}
@media (min-width: 1200px) {
  .article-foo {
    font-size: 0;
  }
  @supports (flex-wrap: wrap) {
    .article-foo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }
}
.article-arhive {
  padding: 40px 0 0;
}
@media (min-width: 768px) {
  .article-arhive {
    padding: 75px 0 0;
  }
}
.article-arhive__button {
  margin-bottom: 45px;
}
.article-arhive__cards {
  font-size: 0;
}
@supports (flex-wrap: wrap) {
  .article-arhive__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.article-arhive__card {
  display: inline-block;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .article-arhive__card {
    width: 50%;
    margin-bottom: 65px;
    padding-right: 100px;
  }
}
.article-author-lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  padding-right: 30px;
}
.article-author-lg__pr {
  margin-right: 20px;
}
.article-author-lg__title {
  margin-bottom: 10px;
}
.article-author-lg__date {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
.article-success {
  color: #fff;
  background-size: cover;
  background-position: right center;
}
@media (min-width: 768px) {
  .article-success {
    min-height: 340px;
  }
}
.article-success__content {
  padding: 20px;
}
@media (min-width: 768px) {
  .article-success__content {
    padding: 90px 60px 40px;
    max-width: 75%;
  }
}
.article-success__title {
  margin-bottom: 25px;
  font-size: 20px;
}
@media (min-width: 768px) {
  .article-success__title {
    margin-bottom: 55px;
    font-size: 30px;
  }
}
.article-success__button {
  width: 175px;
  text-align: center;
}
.article-form {
  background: #2f3440;
  color: #fff;
  padding: 20px 20px 20px;
}
@media (min-width: 1200px) {
  .article-form {
    padding: 50px 50px 20px;
  }
}
.article-form__title {
  margin-bottom: 15px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
}
@media (min-width: 768px) {
  .article-form__title {
    margin-bottom: 35px;
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  .article-form__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 768px) {
  .article-form__column {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .article-form__column:first-child {
    padding-right: 10px;
  }
}
@media (min-width: 1200px) {
  .article-form__column:first-child {
    padding-right: 35px;
  }
}
@media (min-width: 768px) {
  .article-form__column:last-child {
    padding-left: 10px;
  }
}
@media (min-width: 1200px) {
  .article-form__column:last-child {
    padding-left: 35px;
  }
}
.article-history-success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
@media (min-width: 1200px) {
  .article-history-success {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.article-history-success__content {
  padding: 20px 5px;
  background: #2f3440;
  color: #fff;
}
@media (min-width: 480px) {
  .article-history-success__content {
    padding: 20px;
  }
}
@media (min-width: 600px) {
  .article-history-success__content {
    padding: 50px;
  }
}
@media (min-width: 1200px) {
  .article-history-success__content {
    min-height: 540px;
    width: 50%;
  }
}
.article-history-success__bg {
  display: none;
}
@media (min-width: 1200px) {
  .article-history-success__bg {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    background-size: cover;
  }
}
.article-history-success__header {
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 480px) {
  .article-history-success__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
  }
}
.article-history-success__pr {
  height: auto;
  width: 100px;
}
@media (min-width: 480px) {
  .article-history-success__pr {
    margin-right: 20px;
  }
}
@media (min-width: 1360px) {
  .article-history-success__pr {
    width: 180px;
  }
}
.article-history-success__title {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  margin-bottom: 10px;
}
.article-history-success__subtitle {
  font-family: William;
  font-size: 18px;
}
.article-history-success__text {
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 30px;
}
.download__grid {
  font-size: 0;
}
@supports (flex-wrap: wrap) {
  .download__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.download__card {
  display: inline-block;
  width: 100%;
  padding-right: 25px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .download__card {
    width: 50%;
    padding-right: 50px;
    margin-bottom: 50px;
  }
}
.card-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}
.card-download:hover .card-download__title {
  text-decoration: underline;
}
.card-download__icon {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  margin-right: 15px;
}
.card-download__desc {
  min-width: 0;
}
.card-download__title {
  margin-bottom: 5px;
  font-family: William;
  font-size: 16px;
  color: #635c4b;
}
@media (min-width: 480px) {
  .card-download__title {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .card-download__title {
    font-size: 22px;
  }
}
.card-download__size {
  padding-left: 12px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  color: #635c4b;
}
@media (min-width: 768px) {
  .card-download__size {
    font-size: 16px;
  }
}
.inner-article {
  max-width: 100%;
}
@media (min-width: 992px) {
  .inner-article {
    display: -ms-grid;
    display: grid;
    width: 100%;
    min-width: 0;
    -ms-grid-columns: 300px 1fr;
    grid-template-columns: 300px 1fr;
  }
}
.inner-article__column {
  min-width: 0;
  max-width: 100%;
}
.inner-article__column_right {
  -ms-grid-column: 2;
}
@media (min-width: 992px) {
  .inner-article__column_left {
    width: 300px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -ms-grid-column: 1;
  }
}
.article-slider {
  position: relative;
  padding-top: 40px;
}
.article-slider__desc {
  padding: 15px;
}
@media (min-width: 600px) {
  .article-slider__desc {
    padding: 30px 135px 30px 35px;
  }
}
.article-slider__title {
  margin-bottom: 15px;
  font-size: 22px;
  color: #2f3440;
}
.article-slider__date {
  display: block;
  color: #635c4b;
}
.article-slider__nav {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #635c4b;
  font-size: 14px;
}
@media (min-width: 600px) {
  .article-slider__nav {
    top: auto;
    bottom: 0;
    width: 135px;
    height: 135px;
  }
}
.article-slider__pagination {
  margin-right: 14px;
  width: auto !important;
}
.article-slider__prev,
.article-slider__next {
  background: none;
  border: none;
  color: #635c4b;
}
.article-slider__prev:hover,
.article-slider__next:hover {
  color: #2f3440;
}
.article-slider__prev.swiper-button-disabled,
.article-slider__next.swiper-button-disabled {
  opacity: 0.5;
}
.article-slider__prev.swiper-button-disabled:hover,
.article-slider__next.swiper-button-disabled:hover {
  color: #635c4b;
}
.article-slider__icon {
  display: block;
  stroke: currentColor;
  cursor: pointer;
}
.section-foo {
  padding: 15px;
  background-color: #edecea;
}
.section-foo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 600px) {
  .section-foo__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    text-align: left;
  }
}
.section-foo__column {
  padding: 10px;
  min-width: 0;
  text-align: center;
}
@media (min-width: 600px) {
  .section-foo__column {
    padding: 0;
    text-align: left;
  }
}
@media (min-width: 600px) {
  .section-foo__column_logo {
    margin-right: 30px;
  }
}
@media (min-width: 600px) {
  .section-foo__column_copy {
    margin-right: auto;
  }
}
@media (min-width: 600px) {
  .section-foo__column_social {
    margin-left: 30px;
  }
}
.section-foo__copy {
  color: #404759;
  font-family: Roboto, sans-serif;
  font-size: 15px;
}
@media (min-width: 600px) {
  .section-foo__copy {
    font-size: 12px;
  }
}
@-moz-keyframes bg-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
@-webkit-keyframes bg-scale {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@-o-keyframes bg-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
@keyframes bg-scale {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.page {
  padding: 0;
  margin: 0;
  font-family: Suisse;
}
.popup {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}
.popup__header {
  padding: 20px 10px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  border-bottom: 3px solid #191919;
  color: #191919;
}
.popup__foo {
  margin-top: auto;
  padding: 20px 10px;
}
.popup-form {
  width: 100% !important;
  height: 100% !important;
  padding: 20px 0 !important;
  margin: 0 !important;
  background: #2f3440 !important;
  color: #fff;
}
.popup-form__header {
  margin-bottom: 25px;
  text-align: center;
}
@media (min-width: 480px) {
  .popup-form__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .popup-form__header {
    margin-bottom: 55px;
  }
}
@media (min-width: 992px) {
  .popup-form__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 992px) {
  .popup-form__column_left {
    width: 380px;
    margin-right: 50px;
  }
}
@media (min-width: 1220px) {
  .popup-form__column_left {
    margin-right: 85px;
  }
}
.popup-form__column_right {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}
.popup-form__pr {
  width: 100px;
  height: auto;
  margin-bottom: 15px;
}
@media (min-width: 480px) {
  .popup-form__pr {
    margin-bottom: 0;
    margin-right: 20px;
  }
}
@media (min-width: 992px) {
  .popup-form__pr {
    width: 178px;
    margin-right: 40px;
  }
}
.popup-form__form-foo {
  padding: 0 0 25px;
}
@media (min-width: 768px) {
  @supports (flex-wrap: wrap) {
    .popup-form__form-foo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
  }
}
.popup-form__form-foo-button {
  margin: 0 10px 10px;
}
@media (min-width: 600px) {
  .popup-form__form-foo-button {
    margin: 0 10px;
  }
  .popup-form__form-foo-button:first-child {
    margin-left: 0;
  }
  .popup-form__form-foo-button:last-child {
    margin-right: 0;
  }
}
.popup-form__form-column {
  margin-right: 30px;
}
@supports (flex-wrap: wrap) {
  .popup-form__form-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.popup-form__form-column:last-child {
  margin-right: 0;
}
.popup-form__form-checkbox {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  margin-right: 20px;
}
.nav-popup__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav-popup__item {
  border-bottom: 2px solid #191919;
  color: #191919;
  font-weight: 600;
}
.nav-popup__link {
  display: block;
  color: #191919;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}
.nav-popup__link:hover {
  background: #191919;
  color: #fff;
}
.nav-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 992px) {
  .nav-top {
    font-family: Suisse;
    font-size: 18px;
  }
}
@media (min-width: 1300px) {
  .nav-top {
    font-size: 20px;
  }
}
@media (min-width: 1900px) {
  .nav-top {
    font-size: 25px;
  }
}
.nav-top__list {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.nav-top__item {
  position: relative;
  padding-right: 12px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}
@media (min-width: 1200px) {
  .nav-top__item {
    padding-right: 15px;
  }
}
@media (min-width: 1900px) {
  .nav-top__item {
    padding-right: 20px;
  }
}
.nav-top__link {
  color: #fff;
  text-decoration: none;
}
.nav-top__link:hover {
  text-decoration: underline;
}
.nav-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav-social__item {
  margin-right: 10px;
}
@media (min-width: 768px) {
  .nav-social__item {
    margin-right: 15px;
  }
}
.nav-social__item:last-child {
  margin-right: 0;
}
.nav-social__link {
  display: block;
}
.nav-social__icon {
  width: 41px;
  height: 41px;
}
@media (min-width: 1900px) {
  .nav-social__icon {
    width: 60px;
    height: 60px;
  }
}
.card-archive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1200px) {
  .card-archive {
    min-height: 165px;
  }
}
.card-archive__column_pr {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  margin-right: 10px;
  width: 70px;
}
@media (min-width: 768px) {
  .card-archive__column_pr {
    width: 120px;
  }
}
@media (min-width: 992px) {
  .card-archive__column_pr {
    margin-right: 20px;
  }
}
@media (min-width: 1900px) {
  .card-archive__column_pr {
    width: 250px;
    margin-right: 50px;
  }
}
@media (min-width: 768px) {
  .card-archive__column_desc {
    padding-top: 5px;
  }
}
@media (min-width: 1900px) {
  .card-archive__column_desc {
    padding-top: 25px;
  }
}
.card-archive__pr {
  display: block;
  width: 100%;
  height: auto;
}
.card-archive__date {
  display: block;
  margin-bottom: 5px;
  font-family: Suisse;
  font-size: 10px;
  color: #635c4b;
}
.card-archive__title {
  font-size: 14px;
  text-decoration: none;
  color: #635c4b;
  font-family: William;
}
.card-archive__title:hover {
  text-decoration: underline;
}
@media (min-width: 480px) {
  .card-archive__title {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .card-archive__title {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .card-archive__title {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .card-archive__title {
    font-size: 18px;
  }
}
@media (min-width: 1900px) {
  .card-archive__title {
    font-size: 25px;
  }
}
.card-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1200px) {
  .card-news {
    min-height: 165px;
  }
}
.card-news__column_pr {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  margin-right: 10px;
  width: 70px;
}
@media (min-width: 768px) {
  .card-news__column_pr {
    width: 120px;
  }
}
@media (min-width: 992px) {
  .card-news__column_pr {
    width: 150px;
    margin-right: 30px;
  }
}
@media (min-width: 1900px) {
  .card-news__column_pr {
    width: 250px;
    margin-right: 50px;
  }
}
@media (min-width: 768px) {
  .card-news__column_desc {
    padding-top: 5px;
  }
}
@media (min-width: 1900px) {
  .card-news__column_desc {
    padding-top: 25px;
  }
}
.card-news__pr {
  display: block;
  width: 100%;
  height: auto;
}
.card-news__date {
  display: block;
  margin-bottom: 5px;
  font-family: Suisse;
  font-size: 10px;
  color: #635c4b;
}
@media (min-width: 768px) {
  .card-news__date {
    margin-bottom: 20px;
  }
}
@media (min-width: 1900px) {
  .card-news__date {
    font-size: 20px;
  }
}
.card-news__title {
  font-size: 14px;
  text-decoration: none;
  color: #635c4b;
}
.card-news__title:hover {
  text-decoration: underline;
}
@media (min-width: 480px) {
  .card-news__title {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .card-news__title {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .card-news__title {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .card-news__title {
    font-size: 25px;
  }
}
@media (min-width: 1900px) {
  .card-news__title {
    font-size: 35px;
  }
}
.section-edge {
  padding: 40px 0 20px;
  color: #fff;
  background: #68635a url("../images/bg-edge.jpg") center center/cover;
}
@media (min-width: 992px) {
  .section-edge {
    padding: 70px 0 40px;
  }
}
.section-edge__title {
  margin-bottom: 20px;
}
@media (min-width: 1900px) {
  .section-edge__title {
    margin-bottom: 50px;
  }
}
.section-edge__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.section-edge__card {
  margin-bottom: 10px;
  width: 50%;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}
@media (min-width: 768px) {
  .section-edge__card {
    width: 33.333333333333336%;
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .section-edge__card {
    width: 25%;
    margin-bottom: 45px;
  }
}
@media (min-width: 1900px) {
  .section-edge__card {
    width: 16.666666666666668%;
  }
}
.card-edge {
  min-width: 150px;
  padding: 0 5px;
}
.card-edge__header {
  min-height: 50px;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .card-edge__header {
    margin-bottom: 10px;
  }
}
.card-edge__pr {
  display: block;
}
.card-edge__title {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .card-edge__title {
    margin-bottom: 10px;
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  .card-edge__title {
    font-size: 45px;
  }
}
@media (min-width: 1900px) {
  .card-edge__title {
    font-size: 55px;
    margin-bottom: 20px;
  }
}
.card-edge__desc {
  font-size: 12px;
}
@media (min-width: 768px) {
  .card-edge__desc {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .card-edge__desc {
    font-size: 22px;
  }
}
.section-gov {
  padding: 40px 0 20px;
  background: url("../images/bg-gov.jpg") center top/cover;
  color: #fff;
}
@media (min-width: 768px) {
  .section-gov {
    height: 825px;
    padding: 100px 0 0;
  }
}
@media (min-width: 768px) {
  .section-gov__column {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .section-gov__column {
    width: 40%;
  }
}
.section-gov__desc {
  margin-bottom: 20px;
  font-family: Suisse;
  font-size: 18px;
}
@media (min-width: 480px) {
  .section-gov__desc {
    margin-bottom: 40px;
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .section-gov__desc {
    font-size: 35px;
  }
}
.section-gov__name {
  margin-bottom: 40px;
  font-size: 16px;
}
@media (min-width: 480px) {
  .section-gov__name {
    font-size: 22px;
  }
}
@media (min-width: 992px) {
  .section-gov__name {
    margin-bottom: 160px;
  }
}
.section-gov__more {
  width: 18px;
  height: auto;
  margin-left: 5px;
}
@media (min-width: 992px) {
  .section-gov__more {
    width: 26px;
  }
}
.section-priory {
  padding: 40px 0 20px;
  color: #fff;
}
@media (min-width: 1200px) {
  .section-priory {
    min-height: 100vh;
  }
}
@media (min-width: 1900px) {
  .section-priory {
    min-height: 100vh;
  }
}
@media (min-width: 992px) {
  .section-priory__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.section-priory__column {
  padding-bottom: 70px;
}
@media (min-width: 992px) {
  .section-priory__column {
    width: 50%;
  }
}
.section-priory__column_title {
  padding-top: 30px;
}
.card-priory {
  padding: 10px;
  background: rgba(99,92,75,0.533);
}
@media (min-width: 480px) {
  .card-priory {
    padding: 30px 90px 30px 30px;
  }
}
.card-priory__title {
  font-family: Suisse;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .card-priory__title {
    margin-bottom: 40px;
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .card-priory__title {
    font-size: 40px;
  }
}
@media (min-width: 1300px) {
  .card-priory__title {
    font-size: 45px;
  }
}
@media (min-width: 1900px) {
  .card-priory__title {
    font-size: 60px;
  }
}
.card-success-story {
  padding: 10px;
  background: rgba(99,92,75,0.533);
}
@media (min-width: 480px) {
  .card-success-story {
    padding: 30px;
  }
}
.card-success-story__header {
  text-align: center;
  margin-bottom: 5px;
}
@media (min-width: 480px) {
  .card-success-story__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
    text-align: left;
  }
}
@media (min-width: 480px) {
  .card-success-story__column_pr {
    margin-right: 15px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }
}
@media (min-width: 1300px) {
  .card-success-story__column_pr {
    margin-right: 60px;
  }
}
.card-success-story__pr {
  border-radius: 50%;
  width: 120px;
  height: auto;
}
@media (min-width: 1300px) {
  .card-success-story__pr {
    width: 180px;
  }
}
.card-success-story__title {
  font-family: Suisse;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 5px;
}
@media (min-width: 480px) {
  .card-success-story__title {
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .card-success-story__title {
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .card-success-story__title {
    font-size: 40px;
  }
}
@media (min-width: 1300px) {
  .card-success-story__title {
    font-size: 45px;
  }
}
@media (min-width: 1900px) {
  .card-success-story__title {
    font-size: 60px;
  }
}
.section-investor-window {
  position: relative;
  background: #2f3440;
  color: #fff;
  padding: 45px 0 30px;
}
@media (min-width: 768px) {
  .section-investor-window {
    padding: 75px 0 90px;
  }
}
.section-investor-window__title {
  margin-bottom: 20px;
}
@media (min-width: 480px) {
  .section-investor-window__title {
    margin-bottom: 50px;
  }
}
.section-investor-window__columns {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px 10px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}
@media (min-width: 992px) {
  .section-investor-window__columns {
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
  }
}
@media (min-width: 1300px) {
  .section-investor-window__columns {
    grid-gap: 40px;
    -ms-grid-columns: 1fr 1fr 370px;
    grid-template-columns: 1fr 1fr 370px;
  }
}
.section-investor-window__column {
  padding: 0 0 20px;
}
@media (min-width: 992px) {
  .section-investor-window__column {
    padding-right: 40px;
  }
}
@supports (grid-gap) {
  .section-investor-window__column {
    padding: 0;
  }
}
.section-investor-window__column:last-child {
  padding-right: 0;
}
.section-investor-window__column:nth-child(2) {
  -ms-grid-row: 2;
}
@media (min-width: 992px) {
  .section-investor-window__column:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
}
.section-investor-window__column:nth-child(3) {
  -ms-grid-row: 3;
}
@media (min-width: 992px) {
  .section-investor-window__column:nth-child(3) {
    -ms-grid-row: 2;
  }
}
@media (min-width: 1300px) {
  .section-investor-window__column:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}
.investor-window-column__title {
  margin-bottom: 20px;
  font-size: 25px;
}
@media (min-width: 992px) {
  .investor-window-column__title {
    margin-bottom: 40px;
    font-size: 30px;
  }
}
.investor-window-column__card {
  margin-bottom: 40px;
}
.investor-window-column__button {
  margin: 0 10px 10px 0;
}
.list-ver-line {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
@media (min-width: 480px) {
  .list-ver-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
}
.list-ver-line__item {
  border-left: 2px solid #fff;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  padding: 0 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
@media (min-width: 480px) {
  .list-ver-line__item {
    width: 50%;
    padding: 0 15px;
  }
}
@media (min-width: 992px) {
  .list-ver-line__item {
    width: 25%;
  }
}
@media (min-width: 1900px) {
  .list-ver-line__item {
    padding: 0 30px;
  }
}
@media (min-width: 480px) {
  .list-ver-line__item:nth-child(2n) {
    border-right: 2px solid #fff;
  }
}
@media (min-width: 992px) {
  .list-ver-line__item:nth-child(2n) {
    border-right: none;
  }
}
@media (min-width: 480px) {
  .list-ver-line__item:nth-child(4n) {
    border-right: 2px solid #fff;
  }
}
.card-investor-window-contact__pr {
  display: block;
  margin-bottom: 45px;
  border-radius: 50%;
}
.card-investor-window-contact__position {
  margin-bottom: 10px;
  font-size: 14px;
}
@media (min-width: 768px) {
  .card-investor-window-contact__position {
    font-size: 16px;
  }
}
.card-investor-window-contact__name {
  margin-bottom: 10px;
  font-size: 18px;
}
@media (min-width: 768px) {
  .card-investor-window-contact__name {
    margin-bottom: 55px;
    font-size: 22px;
  }
}
.card-investor-window-contact__desc {
  font-size: 22px;
}
@media (min-width: 768px) {
  .card-investor-window-contact__desc {
    font-size: 22px;
  }
}
.card-investor-window-contact__row {
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .card-investor-window-contact__row {
    margin-bottom: 15px;
  }
}
.card-investor-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card-investor-window__column_icon {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  margin-right: 24px;
}
.card-investor-window__column_desc {
  padding: 4px 0 0;
}
.card-investor-window__desc {
  font-size: 18px;
}
@media (min-width: 480px) {
  .card-ver-investor-window {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.card-ver-investor-window__number {
  font-family: Suisse;
  font-size: 20px;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .card-ver-investor-window__number {
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .card-ver-investor-window__number {
    font-size: 40px;
  }
}
@media (min-width: 1300px) {
  .card-ver-investor-window__number {
    font-size: 45px;
  }
}
@media (min-width: 1900px) {
  .card-ver-investor-window__number {
    font-size: 60px;
  }
}
.card-ver-investor-window__p {
  font-size: 14px;
}
@media (min-width: 480px) {
  .card-ver-investor-window__p {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .card-ver-investor-window__p {
    font-size: 20px;
  }
}
@media (min-width: 1900px) {
  .card-ver-investor-window__p {
    font-size: 25px;
  }
}
.card-ver-investor-window__pr {
  padding-top: 35px;
  margin-top: auto;
}
@media (min-width: 1900px) {
  .card-ver-investor-window__pr {
    padding-top: 55px;
  }
}
.section-success-story {
  padding: 40px 0 20px;
  color: #fff;
}
@media (min-width: 1200px) {
  .section-success-story {
    min-height: 100vh;
  }
}
@media (min-width: 992px) {
  .section-success-story__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.section-success-story__column {
  padding-bottom: 70px;
}
@media (min-width: 992px) {
  .section-success-story__column {
    width: 50%;
    padding-bottom: 0;
  }
}
.section-success-story__column_title {
  padding-top: 30px;
}
.map {
  position: relative;
}
.map__bg {
  max-width: 100%;
  height: auto;
}
.map__layers {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.hidden {
  display: none;
}
@media (min-width: 992px) {
  .visible-md {
    display: block;
  }
}
[v-cloak] {
  display: none;
}
