@import "inc/variables"
@import "inc/mixins"
@import "inc/fonts"
@import "inc/scafolding"
@import "inc/ui"
@import "inc/sections"

* {
	box-sizing border-box
}

.page {
	padding 0
	margin 0
	font-family Suisse 
}

.popup {
	display inline-flex !important
	flex-direction column
	width 100%
	height 100%
	padding 0 !important
	margin 0 !important
	
	&__header {
		padding 20px 10px
		text-align center
		font-weight 700 
		font-size 30px 
		border-bottom 3px solid $color-graphite
		color $color-graphite
	}
	
	&__foo {
		margin-top auto
		padding 20px 10px
	}
}

.popup-form {
	width 100% !important
	height 100% !important
	padding 20px 0 !important
	margin 0 !important
	background $color-granite !important
	color white
	
	&__header {
		margin-bottom 25px 
		text-align center
		
		@media (min-width 480px) {
			display flex
			align-items center
			text-align left
		}
		
		@media (min-width $md) {
			margin-bottom 55px 
		}
	}
	
	&__body {
		@media (min-width $md) {
			display flex
		}
	}
	
	&__column {
		
		&_left {
			@media(min-width $md) {
				width 380px
				margin-right 50px
			}
			
			@media (min-width 1220px) {
				margin-right 85px
			}
		}
		
		&_right {
			flex auto
		}
	}
	
	&__pr {
		width 100px
		height auto
		margin-bottom 15px 
		
		@media (min-width 480px) {
			margin-bottom 0
			margin-right 20px
		}
		
		@media (min-width $md) {
			width 178px
			margin-right 40px
		}
	}
	
	&__form-foo {
		padding 0 0 25px
				
		@media (min-width $sm) {
			@supports (flex-wrap wrap) {
				display flex
				flex-wrap wrap
				justify-content space-between
			}
		}
		
		&-column {
			
		}
		
		&-button {
			margin 0 10px 10px 
			
			@media (min-width 600px) {
				margin 0 10px
				
				&:first-child {
					margin-left 0
				}
				
				&:last-child {
					margin-right 0
				}
			}
			
			
		}
	}
	
	&__form-column {
		margin-right 30px
		
		@supports(flex-wrap wrap) {
			display flex
			flex-wrap wrap
			justify-content center
		}
		
		
		&:last-child {
			margin-right 0
		}
	}
	
	&__form-checkbox {
		flex none
		margin-right 20px
	}
}

.nav-popup {
	&__list {
		list-style-type none
		padding 0
		margin 0
	}
	
	&__item {
		border-bottom 2px solid $color-graphite 
		color $color-graphite
		font-weight 600 
	}
	
	&__link {
		display block
		color $color-graphite
		text-decoration none
		font-size 20px 
		padding 10px 
		
		&:hover {
			background $color-graphite
			color white 
		}
	}
}

.nav-top {
	display flex
	
	@media (min-width $md) {
		font-family Suisse
		font-size 18px
	}
	
	@media (min-width $mlg) {
		font-size 20px
	}
	
	@media (min-width $xlg) {
		font-size 25px
	}
	
	&__list {
		flex none
		display flex
		padding 0
		margin 0
		list-style-type none 
	}
	
	&__item { 
		position relative
		padding-right 12px 
		flex none
	
		@media (min-width $lg) {
			padding-right 15px 
		}
		
		@media (min-width $xlg) {
			padding-right 20px 
		}
	}
	
	&__link {
		color white
		text-decoration none		
		
		&:hover {
			text-decoration underline
		}
	}
}



.nav-social {
	&__list {
		display flex
		list-style-type none
		padding 0
		margin 0
	}
	
	&__item {
		margin-right 10px 
		
		@media (min-width $sm) {
			margin-right 15px 
		}
		
		&:last-child {
			margin-right 0 
		}
	}
	
	&__link {
		display block
	}
	
	&__icon {
		width 41px 
		height 41px
		
		@media (min-width $xlg) {
			width 60px
			height 60px
		}
	}
}

.card-archive {
	display flex
	
	@media (min-width $lg) {
		min-height 165px
	}
	
	&__column {
		&_pr {
			flex none
			margin-right 10px
			width 70px 
			
			@media (min-width $sm) {
				width 120px 
			}
			
			@media (min-width $md) {
				margin-right 20px 
			}
			
			@media (min-width $xlg) {
				width 250px 
				margin-right 50px
			}
		}
		
		&_desc {
			@media (min-width $sm) {
				padding-top 5px 
			}
			
			@media (min-width $xlg) {
				padding-top 25px 
			}
		}
	}
	
	&__pr {
		display block
		width 100%
		height auto
	}
	
	&__date {
		display block
		margin-bottom 5px
		font-family Suisse 
		font-size 10px 
		color $color-dark
	}
	
	&__title {
		font-size 14px 
		text-decoration none
		color $color-dark
		font-family William 
		
		&:hover {
			text-decoration underline
		}
		
		@media (min-width $xs) {
			font-size 20px 
		}
		
		@media (min-width $sm) {
			font-size 16px 
		}
		
		@media (min-width $md) {
			font-size 18px
		}
		
		@media (min-width $lg) {
			font-size 18px 
		}
		
		@media (min-width $xlg) {
			font-size 25px 
		}
	}
}

.card-news {
	display flex
	
	@media (min-width $lg) {
		min-height 165px
	}
	
	&__column {
		&_pr {
			flex none
			margin-right 10px
			width 70px 
			
			@media (min-width $sm) {
				width 120px 
			}
			
			@media (min-width $md) {
				width 150px 
				margin-right 30px 
			}
			
			@media (min-width $xlg) {
				width 250px 
				margin-right 50px
			}
		}
		
		&_desc {
			@media (min-width $sm) {
				padding-top 5px 
			}
			
			@media (min-width $xlg) {
				padding-top 25px 
			}
		}
	}
	
	&__pr {
		display block
		width 100%
		height auto
	}
	
	&__date {
		display block
		margin-bottom 5px
		font-family Suisse 
		font-size 10px 
		color $color-dark
		
		@media (min-width $sm) {
			margin-bottom 20px
		}
		
		@media (min-width $xlg) {
			font-size 20px 
		}
	}
	
	&__title {
		font-size 14px 
		text-decoration none
		color $color-dark
		
		&:hover {
			text-decoration underline
		}
		
		@media (min-width $xs) {
			font-size 20px 
		}
		
		@media (min-width $sm) {
			font-size 16px 
		}
		
		@media (min-width $md) {
			font-size 20px 
		}
		
		@media (min-width $lg) {
			font-size 25px 
		}
		
		@media (min-width $xlg) {
			font-size 35px 
		}
	}
}

.section-edge {
	padding 40px 0 20px
	color white
	background #68635a url(../images/bg-edge.jpg) center center / cover
	
	@media (min-width $md) {
		padding 70px 0 40px
	}
	
	&__title {
		margin-bottom 20px 
		
		@media (min-width $xlg) {
			margin-bottom 50px 
		}
	}
	
	&__cards {
		display flex
		flex-wrap wrap
	}
	
	&__card {
		margin-bottom 10px 
		width 50% 
		flex none
		
		@media (min-width $sm) {
			width (100%/3)
			margin-bottom 20px 
		}
		
		@media (min-width $lg) {
			width 25%
			margin-bottom 45px 
		}
		
		@media (min-width $xlg) {
			width (100% / 6)
		}
	}
}

.card-edge { 
	min-width 150px
	padding 0 5px
	 
	&__header {
		min-height 50px 
		margin-bottom 5px 
		
		@media (min-width $sm) {
			margin-bottom 10px 	
		}
	}
	
	&__pr {
		display block
	}
	
	&__title {
		margin-bottom 5px 
		font-size 20px 
		line-height 1.1
		
		@media (min-width $sm) {
			margin-bottom 10px 
			font-size 30px 
		}
		
		@media (min-width $md) {
			font-size 45px 
		}
		
		@media (min-width $xlg) {
			font-size 55px 
			margin-bottom 20px 
		}
	}
	
	&__desc {
		font-size 12px
		
		@media (min-width $sm) {
			font-size 16px
		}
		
		@media (min-width $md) {
			font-size 22px
		}
	}
}



.section-gov {
	padding 40px 0 20px
	background url(../images/bg-gov.jpg) center top / cover
	color white
	
	@media (min-width $sm) {
		height 825px
		padding 100px 0 0
	}
	
	&__column {
		@media (min-width $sm) {
			width 60%
		}
		
		@media (min-width $lg) {
			width 40% 
		}
	}
	
	&__desc {
		margin-bottom 20px
		font-family Suisse
		font-size 18px 
		
		@media (min-width $xs) {
			margin-bottom 40px
			font-size 25px
		}

		@media (min-width $md) {
			font-size 35px
		}
	}
	
	&__name {
		margin-bottom 40px
		font-size 16px
		
		@media (min-width $xs) {
			font-size 22px
		}
		
		@media (min-width $md) {
			margin-bottom 160px
		}
	}
	
	&__more {
		width 18px 
		height auto
		margin-left 5px
		
		@media (min-width $md) {
			width 26px
		}
	}
}

.section-priory {
	padding 40px 0 20px
	color white
	
	@media (min-width $lg) {
		min-height 100vh
	}
	
	@media (min-width $xlg) {
		min-height 100vh 
	}
	
	&__container {
		@media (min-width $md) {
			display flex
		}
	}
	
	&__column {
		padding-bottom 70px 
		
		@media (min-width $md) {
			width 50%
		}
		
		&_title {
			padding-top 30px 
		}
	}
}

.card-priory {
	padding 10px
	background #635c4b88
	
	@media (min-width $xs) {
		padding 30px 90px 30px 30px
	}
	
	&__title {
		font-family Suisse
		font-size 20px 
		font-weight 300
		line-height 1.1
		margin-bottom 15px
		
		@media (min-width $sm) {
			margin-bottom 40px
			font-size 25px
		}
		
		@media (min-width $md) {
			font-size 40px 
		}
		
		@media (min-width $mlg) {
			font-size 45px 
		}
		
		@media (min-width $xlg) {
			font-size 60px 
		}
	}
	
	&__desc {
		
	}
}

.card-success-story {
	padding 10px
	background #635c4b88
	
	@media (min-width $xs) {
		padding 30px
	}
	
	&__header {
		text-align center
		margin-bottom 5px
		
		@media (min-width $xs) {
			display flex
			align-items center	
			margin-bottom 30px
			text-align left
		}
	}
	
	&__column {
		&_pr {
			@media (min-width $xs) {
				margin-right 15px
				flex none
			}
			
			@media (min-width $mlg) {
				margin-right 60px
			}
		}
	}
	
	&__pr {
		border-radius 50%
		width 120px 
		height auto
		
		@media (min-width $xs) {
			
		}
		

		@media (min-width $mlg) {
			width 180px
		}
	}
	
	&__title {
		font-family Suisse
		font-size 20px 
		font-weight 300
		line-height 1.1
		margin-bottom 5px
		
		@media (min-width $xs) {
			margin-bottom 15px
		}
		
		@media (min-width $sm) {
			font-size 25px
		}
		
		@media (min-width $md) {
			font-size 40px 
		}
		
		@media (min-width $mlg) {
			font-size 45px 
		}
		
		@media (min-width $xlg) {
			font-size 60px 
		}
	}
	
	&__desc {
		
	}
}

.section-investor-window {
	position relative	
	background $color-granite
	color white
	padding 45px 0 30px
	
	@media (min-width 768px) {
		padding 75px 0 90px	
	}
	
	&__title {
		margin-bottom 20px 
		
		@media (min-width $xs) {
			margin-bottom 50px
		}
	}
	
	&__columns {		
		
		
		// @supports(flex-wrap wrap) {
		// 	display flex
		// 	flex-wrap wrap
		// }
		
		display -ms-grid
		display grid
		grid-gap 30px 10px
		-ms-grid-columns 1fr
		grid-template-columns 1fr
		
		@media (min-width $sm) {
		}
		
		@media (min-width $md) {
			grid-template-columns 1fr 1fr
			-ms-grid-columns 1fr 1fr
		}
		
		@media (min-width $mlg) {
			grid-gap 40px
			-ms-grid-columns 1fr 1fr 370px
			grid-template-columns 1fr 1fr 370px
		}
	}
	
	&__column {
		padding 0 0 20px
		 
		@media (min-width $md) {
			padding-right 40px 
		}
		
		
		@supports (grid-gap) {
			padding 0
		}
		
		&:last-child {
			padding-right 0
		}
    
    &:nth-child(2) {
    	-ms-grid-row 2
    	
    	@media (min-width $md) {
    		-ms-grid-row 1
    		-ms-grid-column 2
    	}
    }
    
    &:nth-child(3) {
    	-ms-grid-row 3
    	
    	@media (min-width $md) {
    		-ms-grid-row 2
    	}
    	
    	@media (min-width $mlg) {
	    	-ms-grid-row 1
	    	-ms-grid-column 3
    	}
    }
	}

	// &__header {
	// 	margin-bottom 25px
		
	// 	@media (min-width $xs) {
	// 		display flex
	// 		justify-content space-between
	// 		margin-bottom 50px
	// 	}
		
	// 	@media (min-width $xlg) {
	// 		margin-bottom 100px
	// 	}
	// }
	
	// &__list {
		
	// }
	
	// &__close {
	// 	position absolute
	// 	right 0
	// 	top 0
		
	// 	background rgba(0, 0, 0, .35)
	// 	cursor pointer
		
	// 	@supports (position sticky) {
	// 		position sticky
	// 		left 100%
	// 		right auto
	// 	}
		
	// 	&:hover {
	// 		background rgba(0, 0, 0, .6)
	// 	}
	// }
}

.investor-window-column {
	&__title {
		margin-bottom 20px
		font-size 25px
		
		@media (min-width 992px) {
			margin-bottom 40px
			font-size 30px
		}
	}
	
	&__card {
		margin-bottom 40px
	}
	
	&__button {
		margin 0 10px 10px 0
	}
}

.list-ver-line {
	padding 0
	list-style-type none
	margin 0
	
	@media (min-width $xs) {
		display flex
		flex-wrap wrap
		align-items stretch
	}
	
	&__item {
		border-left 2px solid white 
		flex none
		
		padding 0 10px 
		margin-bottom 20px 
		cursor pointer
		
		@media (min-width $xs) {
			width 50%
			padding 0 15px
		}
		
		@media (min-width $md) {
			width 25%
		}
		
		@media (min-width $xlg) {
			padding 0 30px 
		}
		
		&:nth-child(2n) {
			@media (min-width $xs) {
				border-right 2px solid white 
			}
			
			@media (min-width $md) {
				border-right none
			}
		}


		&:nth-child(4n) {
			
			@media (min-width $xs) {
				border-right 2px solid white
			}
		}
	}
}

.card-investor-window-contact {
	&__pr {
		display block
		margin-bottom 45px
		border-radius 50%
	}
	
	&__position {
		margin-bottom 10px
		font-size 14px
		
		@media (min-width 768px) {
			font-size 16px
		}
	}
	
	&__name {
		margin-bottom 10px
		font-size 18px
		
		@media (min-width 768px) {
			margin-bottom 55px
			font-size 22px
		}
	}
	
	&__desc {
		font-size 22px
		
		@media (min-width 768px) {
			font-size 22px
		}
	}
	
	&__row {
		margin-bottom 5px
		
		@media (min-width 768px) {
			margin-bottom 15px
		}
	}
}

.card-investor-window {
	display flex
	
	&__column {
		&_icon {
			flex none
			margin-right 24px
		}
		
		&_desc{
			padding 4px 0 0
		}
	}
	
	&__desc {
		font-size 18px
	}
	
	// &__number {
	// 	font-family Suisse 
	// 	font-size 20px
	// 	line-height 1.1
		
	// 	@media (min-width $sm) {
	// 		font-size 25px
	// 	}
		
	// 	@media (min-width $md) {
	// 		font-size 40px 
	// 	}
		
	// 	@media (min-width $mlg) {
	// 		font-size 45px 
	// 	}
		
	// 	@media (min-width $xlg) {
	// 		font-size 60px 
	// 	}
	// }
}

.card-ver-investor-window {
	@media (min-width $xs) {
		display flex
		flex-direction column
	}

	&__number {
		font-family Suisse 
		font-size 20px
		line-height 1.1
		
		@media (min-width $sm) {
			font-size 25px
		}
		
		@media (min-width $md) {
			font-size 40px 
		}
		
		@media (min-width $mlg) {
			font-size 45px 
		}
		
		@media (min-width $xlg) {
			font-size 60px 
		}
	}
	
	&__p {
		font-size 14px 
		
		@media (min-width $xs) {
			font-size 16px 
		}
		
		@media (min-width $lg) {
			font-size 20px 
		}
		
		@media (min-width $xlg) {
			font-size 25px 
		}
	}
	
	&__pr {
		padding-top 35px 
		margin-top auto
		
		@media (min-width $xlg) {
			padding-top 55px 
		}
	}
}

.section-success-story {
	padding 40px 0 20px
	color white
	
	@media (min-width $lg) {
		min-height 100vh
	}
	
	&__container {
		@media (min-width $md) {
			display flex
		}
	}
	
	&__column {
		padding-bottom 70px 
		
		@media (min-width $md) {
			width 50%
			padding-bottom 0
		}
		
		&_title {
			padding-top 30px 
		}
	}
}

.map {
	position relative
	
	&__bg {
		max-width 100%
		height auto
	}
	
	&__layers {
		position absolute
		top 0
		left 0
		z-index 2
		width 100%
		height 100%
	}
}

.hidden {
	display none
}


.visible-md {
	@media (min-width $md) {
		display block
	}
}



[v-cloak] {
	display none
}