@import "inc/variables"
@import "inc/mixins"
@import "inc/fonts"
@import "inc/scafolding"
@import "inc/ui"
@import "inc/sections"

* {
	box-sizing border-box
}

.page {
	padding 0
	margin 0
	font-family Suisse 
}

.section {
	max-width 1920px
	margin auto
	
	&__container {
		padding 0 10px 
		@media (min-width $md) {
			padding 0 30px 
		}
	}
}







.popup {
	display inline-flex !important
	flex-direction column
	width 100%
	height 100%
	padding 0 !important
	
	&__header {
		padding 20px 10px
		text-align center
		font-weight 700 
		font-size 30px 
		border-bottom 3px solid $color-dark
		color $color-dark
	}
	
	&__foo {
		margin-top auto
		padding 20px 10px
	}
}

.nav-popup {
	&__list {
		list-style-type none
		padding 0
		margin 0
	}
	
	&__item {
		border-bottom 2px solid $color-dark 
		color $color-dark
		font-weight 600 
	}
	
	&__link {
		display block
		color $color-dark
		text-decoration none
		font-size 20px 
		padding 10px 
		
		&:hover {
			background $color-dark
			color white 
		}
	}
}

.nav-top {
	@media (min-width $md) {
		font-family Suisse
		font-size 18px
	}
	
	@media (min-width $mlg) {
		font-size 20px
	}
	
	@media (min-width $xlg) {
		font-size 25px
	}
	
	&__list {
		display flex
		padding 0
		margin 0
		list-style-type none 
	}
	
	&__item { 
		margin-right 12px 
	
		@media (min-width $lg) {
			margin-right 15px 
		}
		
		@media (min-width $xlg) {
			margin-right 20px 
		}
	}
	
	&__link {
		color white
		text-decoration none		
		
		&:hover {
			text-decoration underline
		}
	}
}



.nav-social {
	&__list {
		display flex
		list-style-type none
		padding 0
		margin 0
	}
	
	&__item {
		margin-right 10px 
		
		@media (min-width $sm) {
			margin-right 15px 
		}
		
		&:last-child {
			margin-right 0 
		}
	}
	
	&__link {
		display block
	}
	
	&__icon {
		width 49px 
		height auto
		
		@media (min-width $xlg) {
			width 60px
		}
	}
}

.card-news {
	display flex
	
	@media (min-width $lg) {
		min-height 165px
	}
	
	&__column {
		&_pr {
			flex none
			margin-right 10px
			width 70px 
			
			@media (min-width $sm) {
				width 120px 
			}
			
			@media (min-width $md) {
				width 150px 
				margin-right 30px 
			}
			
			@media (min-width $xlg) {
				width 250px 
				margin-right 50px
			}
		}
		
		&_desc {
			@media (min-width $sm) {
				padding-top 5px 
			}
			
			@media (min-width $xlg) {
				padding-top 25px 
			}
		}
	}
	
	&__pr {
		display block
		width 100%
		height auto
	}
	
	&__date {
		display block
		margin-bottom 5px
		font-family Suisse 
		font-size 10px 
		color $color-dark
		
		@media (min-width $sm) {
			margin-bottom 20px
		}
		
		@media (min-width $xlg) {
			font-size 20px 
		}
	}
	
	&__title {
		font-size 14px 
		text-decoration none
		color $color-dark
		
		&:hover {
			text-decoration underline
		}
		
		@media (min-width $xs) {
			font-size 20px 
		}
		
		@media (min-width $sm) {
			font-size 16px 
		}
		
		@media (min-width $md) {
			font-size 20px 
		}
		
		@media (min-width $lg) {
			font-size 25px 
		}
		
		@media (min-width $xlg) {
			font-size 35px 
		}
	}
}

.section-edge {
	padding 40px 0 20px
	color white
	background #68635a url(../images/bg-edge.jpg) center center / cover
	
	@media (min-width $md) {
		padding 70px 0 40px
	}
	
	&__title {
		margin-bottom 20px 
		
		@media (min-width $xlg) {
			margin-bottom 50px 
		}
	}
	
	&__cards {
		display flex
		flex-wrap wrap
	}
	
	&__card {
		margin-bottom 10px 
		width 50% 
		flex none
		
		@media (min-width $sm) {
			width (100%/3)
			margin-bottom 20px 
		}
		
		@media (min-width $lg) {
			width 25%
			margin-bottom 45px 
		}
		
		@media (min-width $xlg) {
			width (100% / 6)
		}
	}
}

.card-edge { 
	min-width 150px
	padding 0 5px
	 
	&__header {
		min-height 50px 
		margin-bottom 5px 
		
		@media (min-width $sm) {
			margin-bottom 10px 	
		}
	}
	
	&__pr {
		display block
	}
	
	&__title {
		margin-bottom 5px 
		font-size 20px 
		line-height 1.1
		
		@media (min-width $sm) {
			margin-bottom 10px 
			font-size 30px 
		}
		
		@media (min-width $md) {
			font-size 45px 
		}
		
		@media (min-width $xlg) {
			font-size 55px 
			margin-bottom 20px 
		}
	}
	
	&__desc {
		font-size 12px
		
		@media (min-width $sm) {
			font-size 16px
		}
		
		@media (min-width $md) {
			font-size 22px
		}
	}
}


.hidden {
	display none
}

.section-gov {
	padding 40px 0 20px
	background url(../images/bg-gov.jpg) center top / cover
	color white
	
	@media (min-width $sm) {
		min-height 825px
		padding 100px 0 0
	}
	
	&__column {
		@media (min-width $sm) {
			width 60%
		}
		
		@media (min-width $lg) {
			width 40% 
		}
	}
	
	&__desc {
		margin-bottom 20px
		font-family Suisse
		font-size 18px 
		
		@media (min-width $xs) {
			margin-bottom 40px
			font-size 25px
		}

		@media (min-width $md) {
			font-size 35px
		}
	}
	
	&__name {
		margin-bottom 40px
		font-size 16px
		
		@media (min-width $xs) {
			font-size 22px
		}
		
		@media (min-width $md) {
			margin-bottom 160px
		}
	}
	
	&__more {
		width 18px 
		height auto
		margin-left 5px
		
		@media (min-width $md) {
			width 26px
		}
	}
}

.section-priory {
	padding 40px 0 20px
	color white
	
	@media (min-width $lg) {
		min-height 100vh
	}
	
	@media (min-width $xlg) {
		min-height 100vh 
	}
	
	&__container {
		@media (min-width $md) {
			display flex
		}
	}
	
	&__column {
		padding-bottom 70px 
		
		@media (min-width $md) {
			width 50%
		}
		
		&_title {
			padding-top 30px 
		}
	}
}

.card-priory {
	padding 10px
	background #635c4b88
	
	@media (min-width $xs) {
		padding 30px 90px 30px 30px
	}
	
	&__title {
		font-family Suisse
		font-size 20px 
		font-weight 300
		line-height 1.1
		margin-bottom 15px
		
		@media (min-width $sm) {
			margin-bottom 40px
			font-size 25px
		}
		
		@media (min-width $md) {
			font-size 40px 
		}
		
		@media (min-width $mlg) {
			font-size 45px 
		}
		
		@media (min-width $xlg) {
			font-size 60px 
		}
	}
	
	&__desc {
		
	}
}

.card-success-story {
	padding 10px
	background #635c4b88
	
	@media (min-width $xs) {
		padding 30px
	}
	
	&__header {
		text-align center
		margin-bottom 5px
		
		@media (min-width $xs) {
			display flex
			align-items center	
			margin-bottom 30px
			text-align left
		}
	}
	
	&__column {
		&_pr {
			@media (min-width $xs) {
				margin-right 15px
				flex none
			}
			
			@media (min-width $mlg) {
				margin-right 60px
			}
		}
	}
	
	&__pr {
		border-radius 50%
		width 120px 
		height auto
		
		@media (min-width $xs) {
			
		}
		

		@media (min-width $mlg) {
			width 180px
		}
	}
	
	&__title {
		font-family Suisse
		font-size 20px 
		font-weight 300
		line-height 1.1
		margin-bottom 5px
		
		@media (min-width $xs) {
			margin-bottom 15px
		}
		
		@media (min-width $sm) {
			font-size 25px
		}
		
		@media (min-width $md) {
			font-size 40px 
		}
		
		@media (min-width $mlg) {
			font-size 45px 
		}
		
		@media (min-width $xlg) {
			font-size 60px 
		}
	}
	
	&__desc {
		
	}
}

.section-investor-window {
	padding 40px 0 20px
	background #8e8e8d 
	color white
	
	@media (min-width $md) {
		padding 60px 0 40px
	}
	
	@media (min-width $xlg) {
		padding 120px 0 60px
	}
	
	&__title {
		margin-bottom 20px 
		
		@media (min-width $xs) {
			margin-bottom 0
		}
	}

	&__header {
		margin-bottom 25px
		
		@media (min-width $xs) {
			display flex
			justify-content space-between
			margin-bottom 50px
		}
		
		@media (min-width $xlg) {
			margin-bottom 100px
		}
	}
	
	&__list {
		
	}
}

.list-ver-line {
	padding 0
	list-style-type none
	margin 0
	
	@media (min-width $xs) {
		display flex
		flex-wrap wrap
		align-items stretch
	}
	
	&__item {
		border-left 2px solid white 
		flex none
		
		padding 0 10px 
		margin-bottom 20px 
		
		@media (min-width $xs) {
			width 50%
			padding 0 15px
		}
		
		@media (min-width $md) {
			width 25%
		}
		
		@media (min-width $xlg) {
			padding 0 30px 
		}
		
		&:nth-child(2n) {
			@media (min-width $xs) {
				border-right 2px solid white 
			}
			
			@media (min-width $md) {
				border-right none
			}
		}


		&:nth-child(4n) {
			
			@media (min-width $xs) {
				border-right 2px solid white
			}
		}
	}
}

.card-ver-investor-window {
	@media (min-width $xs) {
		display flex
		flex-direction column
	}

	&__number {
		font-family Suisse 
		font-size 20px
		line-height 1.1
		
		@media (min-width $sm) {
			font-size 25px
		}
		
		@media (min-width $md) {
			font-size 40px 
		}
		
		@media (min-width $mlg) {
			font-size 45px 
		}
		
		@media (min-width $xlg) {
			font-size 60px 
		}
	}
	
	&__p {
		font-size 14px 
		
		@media (min-width $xs) {
			font-size 16px 
		}
		
		@media (min-width $lg) {
			font-size 20px 
		}
		
		@media (min-width $xlg) {
			font-size 25px 
		}
	}
	
	&__pr {
		padding-top 35px 
		margin-top auto
		
		@media (min-width $xlg) {
			padding-top 55px 
		}
	}
}

.section-success-story {
	padding 40px 0 20px
	color white
	
	@media (min-width $lg) {
		min-height 100vh
	}
	
	&__container {
		@media (min-width $md) {
			display flex
		}
	}
	
	&__column {
		padding-bottom 70px 
		
		@media (min-width $md) {
			width 50%
			padding-bottom 0
		}
		
		&_title {
			padding-top 30px 
		}
	}
}

.visible-md {
	@media (min-width $md) {
		display block
	}
}